/*------------------------------------*=imports
\*------------------------------------*/
/*=sass files
######################################*/
/**
 * - BASE: generic styles (body, etc), normalize, typography
 * - LAYOUT: grid, general page layout, header, footer, content, etc.
 * - COMPONENTS: typography (titles, links, buttons, types of texts)
 * - UTILS: utilities and configuration
 */
/*------------------------------------*=clearfix
\*------------------------------------*/
.media:before, .yearlyarchive__year:before, .media:after, .yearlyarchive__year:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.media:after, .yearlyarchive__year:after, .clearfix:after {
  clear: both; }

.lt-ie8 .media, .lt-ie8 .yearlyarchive__year, .lt-ie8 .clearfix {
  min-height: 1%; }

/*------------------------------------*=center text
\*------------------------------------*/
.aligncenter {
  text-align: center; }

/*------------------------------------*=lists helpers
\*------------------------------------*/
.list-h, .mainnav, .list-social, .list-compact, .yearlyarchive, .yearlyarchive__list, .categories, .list-bare {
  list-style: none;
  margin: 0;
  padding: 0; }

/*------------------------------------*=hide things
\*------------------------------------*/
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.logo > a, .mainnav-compact > a, .hidecontent {
  text-indent: -500px;
  overflow: hidden; }

/*------------------------------------*=typography
\*------------------------------------*/
/*------------------------------------*=media queries
\*------------------------------------*/
/**
 * create media query for each breakpoint in list
 *
 * - we check if passed breakpoint corresponds to something in mq-list
 * - all brekpoints are used here, including those specified as grid:false
 */
/*------------------------------------*=media queries
\*------------------------------------*/
/**
 * Usage
 * - used by media queries mixin
 * - used to namespace grids
 *
 * Nested Lists
 * - first param: keyword, also used to namespace grid classes
 * - second param: media query parameters (all media queries are screen based)
 * - Third param: is the query used for grids or not
 *
 * Dimensions
 * - small:   600px   37.5em
 * - medium:  760px   47.5em
 * - large:   1024px  64em
 * - xlarge:  1140px  71.25em
 */
/*------------------------------------*=grid config
\*------------------------------------*/
/*------------------------------------*=typography
\*------------------------------------*/
/*------------------------------------*=colors
\*------------------------------------*/
/*------------------------------------*=media object
\*------------------------------------*/
.media__img {
  float: left;
  margin-right: 1.25em; }

.media--reverse .media__img {
  float: right;
  margin-left: 1.25em; }

.media__body {
  overflow: hidden; }

.list-h > li {
  display: inline-block; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Syntax highlighting styles
 */
.highlight {
  margin: 1em 0;
  padding: 0 1em;
  background: #f6f6f6;
  border: 1px solid #EEEEEE;
  border-radius: .15em; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/*------------------------------------*=body
\*------------------------------------*/
body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: #fff; }

/*------------------------------------*=typography main
\*------------------------------------*/
html {
  font: normal 100%/1.5 "jaf-bernina-sans", Helvetica, Arial, sans-serif; }

/*------------------------------------*=titles
\*------------------------------------*/
/*
 *
 * Main titles
 * Using classes in HTML5
 *
**/
.h1, .h2, .h3, .h4, .project__title {
  margin: 1em 0 0.5em 0;
  padding: 0;
  line-height: 1.3;
  color: #242424;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-weight: 600; }

.h1 {
  margin: 1em 0 0.35em 0;
  font-size: 24px;
  font-size: 1.5rem; }
  @media all and (min-width: 47.5em) {
    .h1 {
      font-size: 31px;
      font-size: 1.9375rem; } }
  @media all and (min-width: 64em) {
    .h1 {
      font-size: 36px;
      font-size: 2.25rem; } }

.h2 {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media all and (min-width: 47.5em) {
    .h2 {
      font-size: 24px;
      font-size: 1.5rem; } }

.h3 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media all and (min-width: 47.5em) {
    .h3 {
      font-size: 21px;
      font-size: 1.3125rem; } }

.h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: -.25em; }

.h1--notop, .h2--notop, .h3--notop, .h4--notop {
  margin-top: 0; }

/*
 *
 * Titles used in wysiwyg content (namespaced)
 *
**/
.wysiwyg h2, .wysiwyg h3, .wysiwyg
h4 {
  margin: 1.25em 0 0.75em;
  padding: 0;
  line-height: 1.2;
  color: #242424;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-weight: 600; }

.wysiwyg
h2 {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media all and (min-width: 47.5em) {
    .wysiwyg
h2 {
      font-size: 24px;
      font-size: 1.5rem; } }

.wysiwyg
h3 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media all and (min-width: 47.5em) {
    .wysiwyg
h3 {
      font-size: 21px;
      font-size: 1.3125rem; } }

.wysiwyg
h4 {
  font-size: 16px;
  font-size: 1rem; }
  @media all and (min-width: 47.5em) {
    .wysiwyg
h4 {
      font-size: 18px;
      font-size: 1.125rem; } }

.wysiwyg
li {
  margin-bottom: .5em; }
  .wysiwyg
li:last-child {
    margin-bottom: 0; }

/*
 *
 * Footer titles
 *
**/
.title-footer {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff; }

/*------------------------------------*=links
\*------------------------------------*/
a {
  color: #D35400;
  text-decoration: none; }
  a:hover {
    color: #E67428;
    text-decoration: underline; }

/*
 *
 * links in titles
 *
**/
h1
a:hover
, h2
a:hover
, h3
a:hover
, h4
a:hover
, h5
a:hover
, h6
a:hover {
  text-decoration: none; }

/*
 *
 * More links
 *
**/
.more:after {
  content: "\00A0\2192"; }

/*
 *
 * Email link (footer)
 *
**/
.email-link {
  color: #919191; }

/*------------------------------------*=buttons
\*------------------------------------*/
.button {
  display: inline-block;
  padding: 0.75em 2em;
  border-radius: .25em;
  border: 2px solid #242424;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #242424;
  transition: all 0.1s linear; }
  .button:hover {
    border-color: #D35400;
    color: #D35400;
    text-decoration: none; }

.buttoncontainer {
  margin: 0;
  padding: 0; }

/*------------------------------------*=texts
\*------------------------------------*/
.item-info {
  margin: 0 0 0.25em 0;
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
  color: #919191; }

.item-info--big {
  font-size: 16px;
  font-size: 1rem;
  color: #D35400; }

.intro {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #828282; }
  @media all and (min-width: 47.5em) {
    .intro {
      font-size: 20px;
      font-size: 1.25rem; } }

.smalltext {
  font-size: 14px;
  font-size: 0.875rem;
  color: #919191; }

/*------------------------------------*=code and codeblocks
\*------------------------------------*/
/* =code
--------------------------------------*/
code {
  background: #F6F6F6;
  padding: 0 0.25em;
  border: 1px solid #EEEEEE;
  border-radius: .15em;
  word-wrap: break-word; }

/* =code blocks
--------------------------------------*/
.highlight code {
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  word-wrap: initial; }

/*
  handled by pygments and scss/vendors/syntax-highlighting.scss
*/
/*------------------------------------*=grid
\*------------------------------------*/
/**
 *
 * gutter between grid units
 * - has to be a fixed value like rem, em or px
 *
 */
/**
 *
 * type of classes to use: silent classes or not
 *
 */
/**
 *
 * use pull and pull classes
 *
 */
/**
 *
 * Default list for media queries in grid
 *
 * Usage
 * - used by media queries mixin
 * - used to namespace grids
 *
 * Nested Lists
 * - first param: keyword, also used to namespace grid classes
 * - second param: media query parameters (all media queries are screen based)
 * - Third param: is the query used for grids or not
 *
 * Dimensions
 * - small:   600px 37.5em
 * - medium:  760px 47.5em
 * - large:   1024px  64em
 * - xlarge:  1140px  71.25em
 */
/**
 *
 * [1] can be used on lists
 * [2] negative margin left cancels padding for outermost left grid units
 *
 */
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: -2.5em; }

/**
   *
   * grid aligned center
   *
   */
.grid--center {
  text-align: center; }
  .grid--center > .grid__unit {
    text-align: left; }

/**
   *
   * grid aligned right
   *
   */
.grid--right {
  text-align: right; }
  .grid--right > .grid__unit {
    text-align: left; }

/**
   *
   * grid bottom-margins
   *
   */
.grid--spaced > .grid__unit {
  margin-bottom: 2.5em; }

/**
   *
   * grid gutterless
   *
   */
.grid--gutterless {
  margin-left: 0; }
  .grid--gutterless > .grid__unit {
    padding-left: 0; }

/**
   *
   * grid gutter double
   *
   */
.grid--gutterdouble {
  margin-left: -5em; }
  .grid--gutterdouble > .grid__unit {
    padding-left: 5em; }

/**
 *
 * grid items defined using inline-block
 * - more flexible than float
 * - we use border-box to define padding inside boxes
 *
 */
.grid__unit {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  padding-left: 2.5em; }

/**
 *
 * mixin to create our grid classes in all media queries
 * - classes are namespaced using breakpoints defined in mq-list
 *
 */
/**
 *
 * mixin to create our push classes in all media queries
 * - classes are namespaced using breakpoints defined in mq-list
 *
 */
/**
 *
 * mixin to create our push classes in all media queries
 * - classes are namespaced using breakpoints defined in mq-list
 *
 */
/**
 *
 * create non namespaced grid / push / pull classes
 *
 */
.span-full {
  width: 100%; }

.span-1of10 {
  width: 10%; }

.span-2of10 {
  width: 20%; }

.span-3of10 {
  width: 30%; }

.span-4of10 {
  width: 40%; }

.span-5of10, .span-6of12 {
  width: 50%; }

.span-6of10 {
  width: 60%; }

.span-7of10 {
  width: 70%; }

.span-8of10 {
  width: 80%; }

.span-9of10 {
  width: 90%; }

.span-1of12 {
  width: 8.33333%; }

.span-2of12 {
  width: 16.66667%; }

.span-3of12 {
  width: 25%; }

.span-4of12 {
  width: 33.33333%; }

.span-5of12 {
  width: 41.66667%; }

.span-7of12 {
  width: 58.33333%; }

.span-8of12 {
  width: 66.66667%; }

.span-9of12 {
  width: 75%; }

.span-10of12 {
  width: 83.33333%; }

.span-11of12 {
  width: 91.66667%; }

.push-full {
  position: relative;
  left: 100%; }

.push-1of10 {
  position: relative;
  left: 10%; }

.push-2of10 {
  position: relative;
  left: 20%; }

.push-3of10 {
  position: relative;
  left: 30%; }

.push-4of10 {
  position: relative;
  left: 40%; }

.push-5of10, .push-6of12 {
  position: relative;
  left: 50%; }

.push-6of10 {
  position: relative;
  left: 60%; }

.push-7of10 {
  position: relative;
  left: 70%; }

.push-8of10 {
  position: relative;
  left: 80%; }

.push-9of10 {
  position: relative;
  left: 90%; }

.push-1of12 {
  position: relative;
  left: 8.33333%; }

.push-2of12 {
  position: relative;
  left: 16.66667%; }

.push-3of12 {
  position: relative;
  left: 25%; }

.push-4of12 {
  position: relative;
  left: 33.33333%; }

.push-5of12 {
  position: relative;
  left: 41.66667%; }

.push-7of12 {
  position: relative;
  left: 58.33333%; }

.push-8of12 {
  position: relative;
  left: 66.66667%; }

.push-9of12 {
  position: relative;
  left: 75%; }

.push-10of12 {
  position: relative;
  left: 83.33333%; }

.push-11of12 {
  position: relative;
  left: 91.66667%; }

.pull-full {
  position: relative;
  right: 100%; }

.pull-1of10 {
  position: relative;
  right: 10%; }

.pull-2of10 {
  position: relative;
  right: 10%; }

.pull-3of10 {
  position: relative;
  right: 30%; }

.pull-4of10 {
  position: relative;
  right: 10%; }

.pull-5of10 {
  position: relative;
  right: 10%; }

.pull-6of10, .pull-6of12 {
  position: relative;
  right: 10%; }

.pull-7of10 {
  position: relative;
  right: 70%; }

.pull-8of10 {
  position: relative;
  right: 10%; }

.pull-9of10 {
  position: relative;
  right: 90%; }

.pull-1of12 {
  position: relative;
  right: 8.33333%; }

.pull-2of12 {
  position: relative;
  right: 16.66667%; }

.pull-3of12 {
  position: relative;
  right: 25%; }

.pull-4of12 {
  position: relative;
  right: 33.33333%; }

.pull-5of12 {
  position: relative;
  right: 41.66667%; }

.pull-7of12 {
  position: relative;
  right: 58.33333%; }

.pull-8of12 {
  position: relative;
  right: 66.66667%; }

.pull-9of12 {
  position: relative;
  right: 75%; }

.pull-10of12 {
  position: relative;
  right: 83.33333%; }

.pull-11of12 {
  position: relative;
  right: 91.66667%; }

/**
 *
 * create namespaced grid classes
 * - using media queries defined in variables.scss
 *
 */
@media all and (min-width: 37.5em) {
  .small-span-full {
    width: 100%; }
  .small-span-1of10 {
    width: 10%; }
  .small-span-2of10 {
    width: 20%; }
  .small-span-3of10 {
    width: 30%; }
  .small-span-4of10 {
    width: 40%; }
  .small-span-5of10, .small-span-6of12 {
    width: 50%; }
  .small-span-6of10 {
    width: 60%; }
  .small-span-7of10 {
    width: 70%; }
  .small-span-8of10 {
    width: 80%; }
  .small-span-9of10 {
    width: 90%; }
  .small-span-1of12 {
    width: 8.33333%; }
  .small-span-2of12 {
    width: 16.66667%; }
  .small-span-3of12 {
    width: 25%; }
  .small-span-4of12 {
    width: 33.33333%; }
  .small-span-5of12 {
    width: 41.66667%; }
  .small-span-7of12 {
    width: 58.33333%; }
  .small-span-8of12 {
    width: 66.66667%; }
  .small-span-9of12 {
    width: 75%; }
  .small-span-10of12 {
    width: 83.33333%; }
  .small-span-11of12 {
    width: 91.66667%; }
  .small-push-full {
    position: relative;
    left: 100%; }
  .small-push-1of10 {
    position: relative;
    left: 10%; }
  .small-push-2of10 {
    position: relative;
    left: 20%; }
  .small-push-3of10 {
    position: relative;
    left: 30%; }
  .small-push-4of10 {
    position: relative;
    left: 40%; }
  .small-push-5of10, .small-push-6of12 {
    position: relative;
    left: 50%; }
  .small-push-6of10 {
    position: relative;
    left: 60%; }
  .small-push-7of10 {
    position: relative;
    left: 70%; }
  .small-push-8of10 {
    position: relative;
    left: 80%; }
  .small-push-9of10 {
    position: relative;
    left: 90%; }
  .small-push-1of12 {
    position: relative;
    left: 8.33333%; }
  .small-push-2of12 {
    position: relative;
    left: 16.66667%; }
  .small-push-3of12 {
    position: relative;
    left: 25%; }
  .small-push-4of12 {
    position: relative;
    left: 33.33333%; }
  .small-push-5of12 {
    position: relative;
    left: 41.66667%; }
  .small-push-7of12 {
    position: relative;
    left: 58.33333%; }
  .small-push-8of12 {
    position: relative;
    left: 66.66667%; }
  .small-push-9of12 {
    position: relative;
    left: 75%; }
  .small-push-10of12 {
    position: relative;
    left: 83.33333%; }
  .small-push-11of12 {
    position: relative;
    left: 91.66667%; }
  .small-pull-full {
    position: relative;
    right: 100%; }
  .small-pull-1of10 {
    position: relative;
    right: 10%; }
  .small-pull-2of10 {
    position: relative;
    right: 10%; }
  .small-pull-3of10 {
    position: relative;
    right: 30%; }
  .small-pull-4of10 {
    position: relative;
    right: 10%; }
  .small-pull-5of10 {
    position: relative;
    right: 10%; }
  .small-pull-6of10, .small-pull-6of12 {
    position: relative;
    right: 10%; }
  .small-pull-7of10 {
    position: relative;
    right: 70%; }
  .small-pull-8of10 {
    position: relative;
    right: 10%; }
  .small-pull-9of10 {
    position: relative;
    right: 90%; }
  .small-pull-1of12 {
    position: relative;
    right: 8.33333%; }
  .small-pull-2of12 {
    position: relative;
    right: 16.66667%; }
  .small-pull-3of12 {
    position: relative;
    right: 25%; }
  .small-pull-4of12 {
    position: relative;
    right: 33.33333%; }
  .small-pull-5of12 {
    position: relative;
    right: 41.66667%; }
  .small-pull-7of12 {
    position: relative;
    right: 58.33333%; }
  .small-pull-8of12 {
    position: relative;
    right: 66.66667%; }
  .small-pull-9of12 {
    position: relative;
    right: 75%; }
  .small-pull-10of12 {
    position: relative;
    right: 83.33333%; }
  .small-pull-11of12 {
    position: relative;
    right: 91.66667%; } }

@media all and (min-width: 47.5em) {
  .medium-span-full {
    width: 100%; }
  .medium-span-1of10 {
    width: 10%; }
  .medium-span-2of10 {
    width: 20%; }
  .medium-span-3of10 {
    width: 30%; }
  .medium-span-4of10 {
    width: 40%; }
  .medium-span-5of10, .medium-span-6of12 {
    width: 50%; }
  .medium-span-6of10 {
    width: 60%; }
  .medium-span-7of10 {
    width: 70%; }
  .medium-span-8of10 {
    width: 80%; }
  .medium-span-9of10 {
    width: 90%; }
  .medium-span-1of12 {
    width: 8.33333%; }
  .medium-span-2of12 {
    width: 16.66667%; }
  .medium-span-3of12 {
    width: 25%; }
  .medium-span-4of12 {
    width: 33.33333%; }
  .medium-span-5of12 {
    width: 41.66667%; }
  .medium-span-7of12 {
    width: 58.33333%; }
  .medium-span-8of12 {
    width: 66.66667%; }
  .medium-span-9of12 {
    width: 75%; }
  .medium-span-10of12 {
    width: 83.33333%; }
  .medium-span-11of12 {
    width: 91.66667%; }
  .medium-push-full {
    position: relative;
    left: 100%; }
  .medium-push-1of10 {
    position: relative;
    left: 10%; }
  .medium-push-2of10 {
    position: relative;
    left: 20%; }
  .medium-push-3of10 {
    position: relative;
    left: 30%; }
  .medium-push-4of10 {
    position: relative;
    left: 40%; }
  .medium-push-5of10, .medium-push-6of12 {
    position: relative;
    left: 50%; }
  .medium-push-6of10 {
    position: relative;
    left: 60%; }
  .medium-push-7of10 {
    position: relative;
    left: 70%; }
  .medium-push-8of10 {
    position: relative;
    left: 80%; }
  .medium-push-9of10 {
    position: relative;
    left: 90%; }
  .medium-push-1of12 {
    position: relative;
    left: 8.33333%; }
  .medium-push-2of12 {
    position: relative;
    left: 16.66667%; }
  .medium-push-3of12 {
    position: relative;
    left: 25%; }
  .medium-push-4of12 {
    position: relative;
    left: 33.33333%; }
  .medium-push-5of12 {
    position: relative;
    left: 41.66667%; }
  .medium-push-7of12 {
    position: relative;
    left: 58.33333%; }
  .medium-push-8of12 {
    position: relative;
    left: 66.66667%; }
  .medium-push-9of12 {
    position: relative;
    left: 75%; }
  .medium-push-10of12 {
    position: relative;
    left: 83.33333%; }
  .medium-push-11of12 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-full {
    position: relative;
    right: 100%; }
  .medium-pull-1of10 {
    position: relative;
    right: 10%; }
  .medium-pull-2of10 {
    position: relative;
    right: 10%; }
  .medium-pull-3of10 {
    position: relative;
    right: 30%; }
  .medium-pull-4of10 {
    position: relative;
    right: 10%; }
  .medium-pull-5of10 {
    position: relative;
    right: 10%; }
  .medium-pull-6of10, .medium-pull-6of12 {
    position: relative;
    right: 10%; }
  .medium-pull-7of10 {
    position: relative;
    right: 70%; }
  .medium-pull-8of10 {
    position: relative;
    right: 10%; }
  .medium-pull-9of10 {
    position: relative;
    right: 90%; }
  .medium-pull-1of12 {
    position: relative;
    right: 8.33333%; }
  .medium-pull-2of12 {
    position: relative;
    right: 16.66667%; }
  .medium-pull-3of12 {
    position: relative;
    right: 25%; }
  .medium-pull-4of12 {
    position: relative;
    right: 33.33333%; }
  .medium-pull-5of12 {
    position: relative;
    right: 41.66667%; }
  .medium-pull-7of12 {
    position: relative;
    right: 58.33333%; }
  .medium-pull-8of12 {
    position: relative;
    right: 66.66667%; }
  .medium-pull-9of12 {
    position: relative;
    right: 75%; }
  .medium-pull-10of12 {
    position: relative;
    right: 83.33333%; }
  .medium-pull-11of12 {
    position: relative;
    right: 91.66667%; } }

@media all and (min-width: 64em) {
  .large-span-full {
    width: 100%; }
  .large-span-1of10 {
    width: 10%; }
  .large-span-2of10 {
    width: 20%; }
  .large-span-3of10 {
    width: 30%; }
  .large-span-4of10 {
    width: 40%; }
  .large-span-5of10, .large-span-6of12 {
    width: 50%; }
  .large-span-6of10 {
    width: 60%; }
  .large-span-7of10 {
    width: 70%; }
  .large-span-8of10 {
    width: 80%; }
  .large-span-9of10 {
    width: 90%; }
  .large-span-1of12 {
    width: 8.33333%; }
  .large-span-2of12 {
    width: 16.66667%; }
  .large-span-3of12 {
    width: 25%; }
  .large-span-4of12 {
    width: 33.33333%; }
  .large-span-5of12 {
    width: 41.66667%; }
  .large-span-7of12 {
    width: 58.33333%; }
  .large-span-8of12 {
    width: 66.66667%; }
  .large-span-9of12 {
    width: 75%; }
  .large-span-10of12 {
    width: 83.33333%; }
  .large-span-11of12 {
    width: 91.66667%; }
  .large-push-full {
    position: relative;
    left: 100%; }
  .large-push-1of10 {
    position: relative;
    left: 10%; }
  .large-push-2of10 {
    position: relative;
    left: 20%; }
  .large-push-3of10 {
    position: relative;
    left: 30%; }
  .large-push-4of10 {
    position: relative;
    left: 40%; }
  .large-push-5of10, .large-push-6of12 {
    position: relative;
    left: 50%; }
  .large-push-6of10 {
    position: relative;
    left: 60%; }
  .large-push-7of10 {
    position: relative;
    left: 70%; }
  .large-push-8of10 {
    position: relative;
    left: 80%; }
  .large-push-9of10 {
    position: relative;
    left: 90%; }
  .large-push-1of12 {
    position: relative;
    left: 8.33333%; }
  .large-push-2of12 {
    position: relative;
    left: 16.66667%; }
  .large-push-3of12 {
    position: relative;
    left: 25%; }
  .large-push-4of12 {
    position: relative;
    left: 33.33333%; }
  .large-push-5of12 {
    position: relative;
    left: 41.66667%; }
  .large-push-7of12 {
    position: relative;
    left: 58.33333%; }
  .large-push-8of12 {
    position: relative;
    left: 66.66667%; }
  .large-push-9of12 {
    position: relative;
    left: 75%; }
  .large-push-10of12 {
    position: relative;
    left: 83.33333%; }
  .large-push-11of12 {
    position: relative;
    left: 91.66667%; }
  .large-pull-full {
    position: relative;
    right: 100%; }
  .large-pull-1of10 {
    position: relative;
    right: 10%; }
  .large-pull-2of10 {
    position: relative;
    right: 10%; }
  .large-pull-3of10 {
    position: relative;
    right: 30%; }
  .large-pull-4of10 {
    position: relative;
    right: 10%; }
  .large-pull-5of10 {
    position: relative;
    right: 10%; }
  .large-pull-6of10, .large-pull-6of12 {
    position: relative;
    right: 10%; }
  .large-pull-7of10 {
    position: relative;
    right: 70%; }
  .large-pull-8of10 {
    position: relative;
    right: 10%; }
  .large-pull-9of10 {
    position: relative;
    right: 90%; }
  .large-pull-1of12 {
    position: relative;
    right: 8.33333%; }
  .large-pull-2of12 {
    position: relative;
    right: 16.66667%; }
  .large-pull-3of12 {
    position: relative;
    right: 25%; }
  .large-pull-4of12 {
    position: relative;
    right: 33.33333%; }
  .large-pull-5of12 {
    position: relative;
    right: 41.66667%; }
  .large-pull-7of12 {
    position: relative;
    right: 58.33333%; }
  .large-pull-8of12 {
    position: relative;
    right: 66.66667%; }
  .large-pull-9of12 {
    position: relative;
    right: 75%; }
  .large-pull-10of12 {
    position: relative;
    right: 83.33333%; }
  .large-pull-11of12 {
    position: relative;
    right: 91.66667%; } }

@media all and (min-width: 71.25em) {
  .xlarge-span-full {
    width: 100%; }
  .xlarge-span-1of10 {
    width: 10%; }
  .xlarge-span-2of10 {
    width: 20%; }
  .xlarge-span-3of10 {
    width: 30%; }
  .xlarge-span-4of10 {
    width: 40%; }
  .xlarge-span-5of10, .xlarge-span-6of12 {
    width: 50%; }
  .xlarge-span-6of10 {
    width: 60%; }
  .xlarge-span-7of10 {
    width: 70%; }
  .xlarge-span-8of10 {
    width: 80%; }
  .xlarge-span-9of10 {
    width: 90%; }
  .xlarge-span-1of12 {
    width: 8.33333%; }
  .xlarge-span-2of12 {
    width: 16.66667%; }
  .xlarge-span-3of12 {
    width: 25%; }
  .xlarge-span-4of12 {
    width: 33.33333%; }
  .xlarge-span-5of12 {
    width: 41.66667%; }
  .xlarge-span-7of12 {
    width: 58.33333%; }
  .xlarge-span-8of12 {
    width: 66.66667%; }
  .xlarge-span-9of12 {
    width: 75%; }
  .xlarge-span-10of12 {
    width: 83.33333%; }
  .xlarge-span-11of12 {
    width: 91.66667%; }
  .xlarge-push-full {
    position: relative;
    left: 100%; }
  .xlarge-push-1of10 {
    position: relative;
    left: 10%; }
  .xlarge-push-2of10 {
    position: relative;
    left: 20%; }
  .xlarge-push-3of10 {
    position: relative;
    left: 30%; }
  .xlarge-push-4of10 {
    position: relative;
    left: 40%; }
  .xlarge-push-5of10, .xlarge-push-6of12 {
    position: relative;
    left: 50%; }
  .xlarge-push-6of10 {
    position: relative;
    left: 60%; }
  .xlarge-push-7of10 {
    position: relative;
    left: 70%; }
  .xlarge-push-8of10 {
    position: relative;
    left: 80%; }
  .xlarge-push-9of10 {
    position: relative;
    left: 90%; }
  .xlarge-push-1of12 {
    position: relative;
    left: 8.33333%; }
  .xlarge-push-2of12 {
    position: relative;
    left: 16.66667%; }
  .xlarge-push-3of12 {
    position: relative;
    left: 25%; }
  .xlarge-push-4of12 {
    position: relative;
    left: 33.33333%; }
  .xlarge-push-5of12 {
    position: relative;
    left: 41.66667%; }
  .xlarge-push-7of12 {
    position: relative;
    left: 58.33333%; }
  .xlarge-push-8of12 {
    position: relative;
    left: 66.66667%; }
  .xlarge-push-9of12 {
    position: relative;
    left: 75%; }
  .xlarge-push-10of12 {
    position: relative;
    left: 83.33333%; }
  .xlarge-push-11of12 {
    position: relative;
    left: 91.66667%; }
  .xlarge-pull-full {
    position: relative;
    right: 100%; }
  .xlarge-pull-1of10 {
    position: relative;
    right: 10%; }
  .xlarge-pull-2of10 {
    position: relative;
    right: 10%; }
  .xlarge-pull-3of10 {
    position: relative;
    right: 30%; }
  .xlarge-pull-4of10 {
    position: relative;
    right: 10%; }
  .xlarge-pull-5of10 {
    position: relative;
    right: 10%; }
  .xlarge-pull-6of10, .xlarge-pull-6of12 {
    position: relative;
    right: 10%; }
  .xlarge-pull-7of10 {
    position: relative;
    right: 70%; }
  .xlarge-pull-8of10 {
    position: relative;
    right: 10%; }
  .xlarge-pull-9of10 {
    position: relative;
    right: 90%; }
  .xlarge-pull-1of12 {
    position: relative;
    right: 8.33333%; }
  .xlarge-pull-2of12 {
    position: relative;
    right: 16.66667%; }
  .xlarge-pull-3of12 {
    position: relative;
    right: 25%; }
  .xlarge-pull-4of12 {
    position: relative;
    right: 33.33333%; }
  .xlarge-pull-5of12 {
    position: relative;
    right: 41.66667%; }
  .xlarge-pull-7of12 {
    position: relative;
    right: 58.33333%; }
  .xlarge-pull-8of12 {
    position: relative;
    right: 66.66667%; }
  .xlarge-pull-9of12 {
    position: relative;
    right: 75%; }
  .xlarge-pull-10of12 {
    position: relative;
    right: 83.33333%; }
  .xlarge-pull-11of12 {
    position: relative;
    right: 91.66667%; } }

/*------------------------------------*=main layout
\*------------------------------------*/
/**
 *
 * .siteheader and .sitefooter are full width
 * .maincontent centered with max-width
 * .maincontent--fullwidth is a variant
 * .container used to center things in full width blocks
 *
*/
.siteheader, .sitefooter {
  width: 100%; }

.maincontent {
  margin: 3em auto;
  max-width: 1100px;
  padding: 0 5%; }
  @media all and (min-width: 47.5em) {
    .maincontent {
      margin-top: 3.75em;
      margin-bottom: 3.75em; } }
  @media all and (min-width: 64em) {
    .maincontent {
      margin-top: 6.25em;
      margin-bottom: 6.25em; } }

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 5%; }

/*------------------------------------*=navbar
\*------------------------------------*/
/*
 * .logo and .mainnav-cta are floated
 * .mainnav is display-inline-block and centered by container
 * .clearfix on the .container div for float clearing
 *
**/
.siteheader__navbar {
  padding: 1em 0;
  background: #171717;
  color: #b9b8ac;
  text-align: center; }
  @media all and (min-width: 47.5em) {
    .siteheader__navbar {
      padding: 2em 0; } }

/*------------------------------------*=logo
\*------------------------------------*/
/*
 * simple image replacement with svg / png fallback
 * - svg file converted to data-uri by build process
 *
**/
.logo {
  float: left;
  margin: 0;
  padding: 0; }
  .logo > a {
    display: block;
    width: 122px;
    height: 16px;
    padding: .7em 0;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url(../img/logo_web.svg);
    transition: opacity 0.1s linear; }
    .no-svg .logo > a {
      background-image: url(../img/logo_web.png); }
    .logo > a:hover {
      opacity: .7; }

/*------------------------------------*=main navigation
\*------------------------------------*/
/*
 * .mainnav-compact: button for mobile nav
 * .mainnav: main navigation interface
 * .mainnav-cta: contact call to action
 *
 * RWD NOTE:
 * - At small screen sizes, only .mainnav-compact is displayed.
 * At large screen sizes, .mainnav is.
 *
 * - there is a "contact" item in .mainnav that's just used by
 * the small size nav interface (hidden at large screen sizes)
 *
**/
.mainnav-compact {
  float: right;
  margin: 0;
  padding: 0;
  width: 37px;
  height: 37px; }
  .mainnav-compact > a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/btn_nav.svg);
    transition: opacity 0.1s linear; }
    .no-svg .mainnav-compact > a {
      background-image: url(../img/btn_nav.png); }
    .mainnav-compact > a:hover {
      opacity: .7; }
  @media all and (min-width: 37.5em) {
    .mainnav-compact {
      display: none; } }

.mainnav {
  display: block;
  clear: both; }
  @media all and (min-width: 37.5em) {
    .mainnav {
      display: inline-block;
      clear: none; } }

.mainnav__item {
  border-bottom: 1px solid #313131; }
  .mainnav__item:first-child {
    margin-top: 2em;
    border-top: 1px solid #313131; }
  .mainnav__item:last-child {
    margin-bottom: 1.5em; }
  @media all and (min-width: 37.5em) {
    .mainnav__item {
      display: inline-block;
      border: none; }
      .mainnav__item:first-child {
        margin-top: 0;
        border: none; }
      .mainnav__item:last-child {
        margin-bottom: 0; } }

.mainnav__item > a {
  display: block;
  padding: 1em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/bkg_mainnav_mobile.svg);
  transition: all 0.1s linear; }
  .no-svg .mainnav__item > a {
    background-image: url(../img/bkg_mainnav_mobile.png); }
  .mainnav__item > a:hover {
    text-decoration: none;
    color: #b3b3b3; }
  @media all and (min-width: 37.5em) {
    .mainnav__item > a {
      display: inline-block;
      padding: 0.85em 0.75em;
      border: none;
      background: none; }
      .no-svg .mainnav__item > a {
        background: none; } }

.mainnav__item--current > a,
.mainnav__item--current > a:hover {
  color: #E67428; }

.mainnav__item--contact {
  display: block; }
  @media all and (min-width: 37.5em) {
    .mainnav__item--contact {
      display: none; } }

@media all and (min-width: 37.5em) {
  .mainnav__item--work:after,
  .mainnav__item--blog:after {
    content: "/";
    display: inline;
    padding: 0;
    color: #404040; } }

.mainnav-cta {
  display: none;
  float: right;
  margin: 0;
  padding: 0; }
  .mainnav-cta > a {
    display: block;
    padding: 0.8em 1em;
    border: 1px solid #404040;
    border-radius: .25em;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.1s linear; }
    .mainnav-cta > a:hover {
      text-decoration: none;
      border-color: #737373; }
  @media all and (min-width: 37.5em) {
    .mainnav-cta {
      display: block; } }

.mainnav-cta--current > a, .mainnav-cta--current > a:hover {
  border-color: #D35400; }

/*
 * visibility of .mainnav managed through .js-is-hidden and .js-is-visible
 * classes added dynamically.
 *
 * max-height and overflow to hide and show + animate
 *
**/
@media all and (max-width: 37.49em) {
  .mainnav {
    overflow: hidden;
    transition: all 0.5s ease; }
  .mainnav.js-is-hidden {
    max-height: 0; }
  .mainnav.js-is-visible {
    max-height: 14em; } }

/*
 * if no JS support, nav visible always
 *
**/
.no-js .mainnav {
  max-height: 14em; }

/*------------------------------------*=banner
\*------------------------------------*/
.siteheader__banner {
  padding: 3em 0;
  background-color: #171717;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  @media all and (min-width: 47.5em) {
    .siteheader__banner {
      padding: 6em 0; } }
  @media all and (min-width: 71.25em) {
    .siteheader__banner {
      padding: 9em 0; } }

.siteheader__banner--1 {
  background-image: url(../img/banners/banner1_600.jpg); }
  @media all and (min-width: 37.5em) {
    .siteheader__banner--1 {
      background-image: url(../img/banners/banner1_800.jpg); } }
  @media all and (min-width: 47.5em) {
    .siteheader__banner--1 {
      background-image: url(../img/banners/banner1_1024.jpg); } }
  @media all and (min-width: 64em) {
    .siteheader__banner--1 {
      background-image: url(../img/banners/banner1_1500.jpg); } }

.siteheader__banner--2 {
  background-image: url(../img/banners/banner2_600.jpg); }
  @media all and (min-width: 37.5em) {
    .siteheader__banner--2 {
      background-image: url(../img/banners/banner2_800.jpg); } }
  @media all and (min-width: 47.5em) {
    .siteheader__banner--2 {
      background-image: url(../img/banners/banner2_1024.jpg); } }
  @media all and (min-width: 64em) {
    .siteheader__banner--2 {
      background-image: url(../img/banners/banner2_1500.jpg); } }

.siteheader__banner--3 {
  background-image: url(../img/banners/banner3_600.jpg); }
  @media all and (min-width: 37.5em) {
    .siteheader__banner--3 {
      background-image: url(../img/banners/banner3_800.jpg); } }
  @media all and (min-width: 47.5em) {
    .siteheader__banner--3 {
      background-image: url(../img/banners/banner3_1024.jpg); } }
  @media all and (min-width: 64em) {
    .siteheader__banner--3 {
      background-image: url(../img/banners/banner3_1500.jpg); } }

.siteheader__banner--4 {
  background-image: url(../img/banners/banner4_600.jpg); }
  @media all and (min-width: 37.5em) {
    .siteheader__banner--4 {
      background-image: url(../img/banners/banner4_800.jpg); } }
  @media all and (min-width: 47.5em) {
    .siteheader__banner--4 {
      background-image: url(../img/banners/banner4_1024.jpg); } }
  @media all and (min-width: 64em) {
    .siteheader__banner--4 {
      background-image: url(../img/banners/banner4_1500.jpg); } }

.siteheader__banner--5 {
  background-image: url(../img/banners/banner5_600.jpg); }
  @media all and (min-width: 37.5em) {
    .siteheader__banner--5 {
      background-image: url(../img/banners/banner5_800.jpg); } }
  @media all and (min-width: 47.5em) {
    .siteheader__banner--5 {
      background-image: url(../img/banners/banner5_1024.jpg); } }
  @media all and (min-width: 64em) {
    .siteheader__banner--5 {
      background-image: url(../img/banners/banner5_1500.jpg); } }

.banner-title {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.9), 1px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 31px;
  font-size: 1.9375rem;
  font-family: "jaf-bernina-sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #fff; }
  @media all and (min-width: 47.5em) {
    .banner-title {
      font-size: 36px;
      font-size: 2.25rem; } }

.banner-tagline {
  margin: -0.2em 0 1.5em;
  padding: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.75);
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
  font-style: italic;
  color: #fff; }
  .banner-tagline > p {
    margin: 0;
    padding: 0; }
  @media all and (min-width: 47.5em) {
    .banner-tagline {
      font-size: 24px;
      font-size: 1.5rem; } }

.amperstand {
  display: inline-block;
  vertical-align: middle;
  font-family: Baskerville, Palatino, Constantia, "Book Antiqua", serif;
  font-size: 170%;
  font-weight: 400;
  font-style: italic;
  color: #ec5e00; }

.banner-button {
  display: inline-block;
  padding: 0.75em 2em;
  border-radius: 50em;
  border: none;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.1s linear; }
  .banner-button:hover {
    color: #D35400;
    text-decoration: none;
    background: #fff; }

/*------------------------------------*=footer styles
\*------------------------------------*/
.sitefooter {
  color: #919191; }

.sitefooter__top {
  background: #D35400;
  text-align: center; }

.sitefooter__bottom {
  padding-top: 3em;
  background: #171717; }
  @media all and (min-width: 47.5em) {
    .sitefooter__bottom {
      padding-top: 4em; } }

/*------------------------------------*=invite (footer)
\*------------------------------------*/
.footer-invite {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-size: 1.3125rem;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff; }
  @media all and (min-width: 47.5em) {
    .footer-invite {
      font-size: 24px;
      font-size: 1.5rem; } }
  .footer-invite
a {
    display: block;
    padding: 1.5em 5%;
    color: #fff;
    transition: background 0.2s linear; }
    .footer-invite
a:hover {
      background: #E67428;
      text-decoration: none; }
  .footer-invite
span {
    color: #171717; }

/*------------------------------------*=footer top sections
\*------------------------------------*/
.sitefooter__me, .sitefooter__elsewhere, .sitefooter__contact {
  margin-bottom: 2em; }

/*------------------------------------*=social media
\*------------------------------------*/
.list-social {
  margin: 1em 0; }

.list-social__item {
  margin: .5em 0; }
  .list-social__item
a {
    color: #919191; }
  .list-social__item
a:hover {
    color: #E67428;
    text-decoration: none; }

/*------------------------------------*=cook picture (footer)
\*------------------------------------*/
.thecook {
  display: none;
  border-radius: 500px; }
  @media all and (min-width: 47.5em) {
    .thecook {
      display: block; } }

/*------------------------------------*=copyright
\*------------------------------------*/
.sitefooter__copyright {
  padding: 1.5em 0;
  border-top: 1px solid #313131; }
  .sitefooter__copyright > p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center; }

/*------------------------------------*=layout of the content area
\*------------------------------------*/
/**
 *
 *  .maincontent already has side margins from main.scss
 * .maincontent__primary and .maincontent__secondary are using inline-block grid (just margins here)
 *
*/
.maincontent__primary {
  margin-bottom: 1.5em; }
  @media all and (min-width: 47.5em) {
    .maincontent__primary {
      margin-bottom: 0; } }

.maincontent__secondary {
  margin-top: 1.5em; }
  @media all and (min-width: 47.5em) {
    .maincontent__secondary {
      margin-top: 0; } }

/*------------------------------------*=spaced lists
\*------------------------------------*/
/*
 *
 * adding bottom margin to lis
 *
**/
.list-spaced > li {
  margin-bottom: 2.5em; }
  .list-spaced > li:last-child {
    margin-bottom: 0; }

/*
 *
 * adding just a slight bottom margin to lis
 *
**/
.list-compact > li {
  margin-bottom: .25em; }
  .list-compact > li:last-child {
    margin-bottom: 0; }

/*------------------------------------*=forms basic styles
\*------------------------------------*/
form {
  margin: 1em 0; }

.forminput {
  border: 1px solid #ECECEC;
  background: #fff;
  color: #333333; }

.forminput--text {
  box-sizing: border-box; }

.formbutton {
  display: inline-block;
  padding: 0.7em 1em;
  border: none;
  border-radius: .25em;
  background: #D35400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff; }

/*------------------------------------*=searchform
\*------------------------------------*/
.searchform {
  margin: 2.5em 0;
  padding: 1em 0;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  text-align: center; }

.searchform__field {
  box-sizing: border-box;
  padding: 0.4em 0.5em;
  border: none;
  border-radius: .25em;
  vertical-align: middle;
  background: #ECECEC;
  color: #333333; }
  @media all and (min-width: 47.5em) {
    .searchform__field {
      min-width: 20em;
      margin-right: .5em; } }

.searchform__button {
  vertical-align: middle; }

/*------------------------------------*=image containers
\*------------------------------------*/
/**
 * Anything holding an image (<p>, <div>)
 */
.imgcontainer {
  margin: 0;
  padding: 0; }
  .imgcontainer
img {
    display: block; }

.imgcontainer--border {
  padding: 1px;
  background: #ECECEC; }

.imgcontainer--hero {
  margin-bottom: 2.5em; }
  @media all and (min-width: 47.5em) {
    .imgcontainer--hero {
      margin-bottom: 3.75em; } }

/*------------------------------------*=fluid images
\*------------------------------------*/
.imgfluid {
  max-width: 100%; }

.imgsvg {
  width: 100%; }

/*------------------------------------*=figures
\*------------------------------------*/
.figure {
  position: relative;
  margin: 2em 0;
  padding: 0; }
  .figure > figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #171717;
    background: rgba(0, 0, 0, 0.5);
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ECECEC;
    text-align: center; }
  .figure
img {
    display: block; }

@media all and (min-width: 47.5em) {
  .figure--full {
    margin-left: -10.43956%;
    margin-right: -10.43956%; } }

@media all and (min-width: 64em) {
  .figure--full {
    margin-left: -26.38889%;
    margin-right: -26.38889%; } }

/*------------------------------------*=fluid videos
\*------------------------------------*/
/**
* preserving a 16/9 ratio
*/
.videocontainer {
  position: relative;
  /*positioning context*/
  width: 100%;
  padding-top: 56.25%;
  margin: 0;
  background: #000; }

.videocontainer > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; }

/*------------------------------------*=page modules
\*------------------------------------*/
.pagemodule + .pagemodule {
  margin-top: 3em;
  border-top: 1px solid #ECECEC;
  padding-top: 3em; }
  @media all and (min-width: 47.5em) {
    .pagemodule + .pagemodule {
      margin-top: 6.25em;
      padding-top: 6.25em; } }

/*------------------------------------*=intro modules
\*------------------------------------*/
.intromodule {
  margin-bottom: 3.75em;
  text-align: center; }
  @media all and (min-width: 47.5em) {
    .intromodule {
      padding: 0 8.69565%; } }

.intromodule__title {
  margin: 0 0 1em;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #D35400; }

.intromodule__text {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  color: #242424; }
  @media all and (min-width: 47.5em) {
    .intromodule__text {
      font-size: 20px;
      font-size: 1.25rem; } }

/*------------------------------------*=yearly archive
\*------------------------------------*/
.yearlyarchive__year {
  padding-bottom: 5em;
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 5em; }
  .yearlyarchive__year:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }

.yearlyarchive__title {
  margin: 0 0 1em 0;
  padding: 0;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-weight: 400;
  line-height: 1;
  font-size: 24px;
  font-size: 1.5rem;
  color: #242424; }
  @media all and (min-width: 64em) {
    .yearlyarchive__title {
      float: left;
      width: 18.40491%; } }

@media all and (min-width: 64em) {
  .yearlyarchive__list {
    float: right;
    width: 76.68712%; } }

.yearlyarchive__item {
  margin-bottom: 2.5em; }
  .yearlyarchive__item:last-child {
    margin-bottom: 0; }

/*------------------------------------*=biography
\*------------------------------------*/
/*
 *
 * managing margins at small screen sizes
 * sizing and rounding up the bio picture
 *
**/
.bio__image, .bio__text {
  margin-bottom: 2em; }
  @media all and (min-width: 64em) {
    .bio__image, .bio__text {
      margin-bottom: 0; } }

/*------------------------------------*=categories list
\*------------------------------------*/
.categories {
  margin-bottom: 1em;
  color: #242424; }

.categories__item {
  margin-bottom: .5em; }
  .categories__item:last-child {
    margin-bottom: 0; }

/*------------------------------------*=projects items (in list)
\*------------------------------------*/
.project a {
  text-decoration: none;
  display: block; }

.project__image {
  position: relative;
  overflow: hidden; }
  .project__image > img {
    display: block; }

.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/icon_more_overlay.svg);
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  opacity: 0; }
  .no-svg .project__overlay {
    background-image: url(../img/icon_more_overlay.png); }

.project__title {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600; }

.project__description {
  text-align: center;
  margin: -0.5em 0 1em 0;
  color: #b9b8ac; }

.project__image img, .project__overlay, .project__title {
  transition: all 0.35s ease-in; }

.project a:hover
img {
  display: block;
  transform: scale(1.02);
  z-index: 5; }

.project a:hover
.project__overlay {
  opacity: 1;
  z-index: 10; }

.project a:hover
.project__title {
  color: #D35400; }

/*------------------------------------*=workflow
\*------------------------------------*/
.workflow > li {
  margin-bottom: 1em; }
  .workflow > li:last-child {
    margin-bottom: 0; }
  @media all and (min-width: 47.5em) {
    .workflow > li {
      margin-bottom: 0; } }

@media all and (min-width: 47.5em) {
  .workflow > li:nth-child(odd) {
    text-align: right; } }

@media all and (min-width: 47.5em) {
  .workflow > li:nth-child(even) {
    margin-top: 5em; } }

.workflow__tagline {
  margin-top: 0.5em;
  color: #919191; }

/*------------------------------------*=widgets
\*------------------------------------*/
/*
 *
 * sidebar widgets
 *
**/
.widget + .widget {
  margin-top: 2.5em;
  border-top: 1px solid #ECECEC;
  padding-top: 2.5em; }

.widget__title {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "jaf-bernina-sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #242424; }

.widget__content {
  color: #919191; }
  .widget__content
strong {
    font-weight: normal;
    color: #333333; }

/*------------------------------------*=items
\*------------------------------------*/
/*
 *
 * Can be either blogposts or portfolio pieces
 *
 *
**/
.item__header {
  margin-bottom: 1em; }

/* no specific styles for item__summary or item___body at the moment */
.item__footer {
  margin: 2em 0 1em;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC; }

/* using SVG spritemaps for icons */
.icon {
  display: inline-block;
  vertical-align: middle; }

.icon--inline {
  margin-right: 0.5em; }

@keyframes slidetop
{
  0%
{
    transform: translate3d(0, -3em, 0);
    opacity: 0; }
  100%
{
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.animation-slide-in {
  transform: translate3d(0, 0, 0);
  animation: slidetop 0.75s ease-out;
  animation-delay: .75s;
  animation-fill-mode: backwards; }
