<article class="c-blogteaser">
  <p class="c-blogteaser__date"><time datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.date|date("MMMM Do, Y") }}</time></p>
  <h2 class="c-blogteaser__title"><a class="c-blogteaser__link" href="{{ post.url }}">{{ post.data.title }}</a></h2>
</article>