<article class="c-service">
  <p class="c-service__icon">{% include "svg/" ~ service.icon  %}</p>
  <h3 class="c-h5">{{ service.title }}</h3>
  <p class="c-service__text">{{ service.description }}</p>
</article>