// ---------------------------
// =scroll utilities
// ---------------------------

.u-noyscroll {
  overflow-y: hidden;
}

.u-noxscroll {
  overflow-x: hidden;
}

.u-noscroll {
  overflow: hidden;
}
