---
layout: default
title: "Web design and development"
excerpt: "Selected case studies and presentation of my working process."
permalink: /work/
current_nav: work
---

<main class="maincontent" role="main">

	<section class="pagemodule">
		<div class="intromodule">
			<h2 class="intromodule__title">Web design &amp; development</h2>
			<div class="intromodule__text">
				<p>Projects my clients and myself worked on together. Some are fresh out of the oven, while others are a bit older. I tried my best to give you a little bit of variety.</p>
			</div>
		</div>

		{% for item in site.projects limit:6 %}

			{% if forloop.first %}<ul class="grid  grid--spaced"><li class="grid__unit  medium-span-1of2  large-span-1of3">{% endif %}

				<article class="project">
					<a href="{{ item.url }}">
						<p class="imgcontainer  project__image">
							<span class="project__overlay"></span>
							<img src="{{ item.project_thumbnail | prepend:'/img/projects/' }}" class="imgfluid" alt="{{ item.title }}" />
						</p>
						<h2 class="project__title">{{ item.title }}</h2>
						<p class="project__description">{{ item.project_tagline }}</p>
					</a>
				</article>

			{% if forloop.last %}</li></ul>{% else %}</li><li class="grid__unit  medium-span-1of2  large-span-1of3">{% endif %}

		{% endfor %}

		<p class="buttoncontainer  aligncenter"><a href="/contact/" class="button">Let's work together</a></p>
	</section>

	<section class="pagemodule">

		<div class="intromodule">
			<h2 class="intromodule__title">My Process</h2>
			<div class="intromodule__text">
				<p>I work for one client at a time so I can focus all my attention on your project. I favour partnerships over one-shot projects and use a simple iterative workflow.</p>
			</div>
		</div>
		<ol class="grid  grid--spaced">
			<li class="grid__unit  medium-span-1of2">
				<div class="numbered-item  numbered-item--1">
					<h3 class="h4  h4--notop">Discovery</h3>
					<p>Getting to know you, your team and your business. I'll be asking a lot of questions and expecting a lot of answers. This phase helps me define the project scope. Whenever feasible, I will work in your office during a few days.</p>
				</div>
			</li><!--
	 --><li class="grid__unit  medium-span-1of2">
				<div class="numbered-item  numbered-item--2">
					<h3 class="h4  h4--notop">Guidelines &amp; specifications</h3>
					<p>Based on the discovery phase, I draft an information architecture, define the various content types your site needs and their data structure. I also produce wireframes of key pages or screens and a graphical style guide.</p>
				</div>
			</li><!--
	 --><li class="grid__unit  medium-span-1of2">
				<div class="numbered-item  numbered-item--3">
					<h3 class="h4  h4--notop">Prototyping &amp; templates</h3>
					<p>The next step is to build a prototype using HTML, CSS and Javascript. I like to move to code as soon as possible to materialise responsive layouts, typography and interactivity. It also allows me to iterate quickly towards the final templates.</p>
				</div>
			</li><!--
	 --><li class="grid__unit  medium-span-1of2">
				<div class="numbered-item  numbered-item--4">
					<h3 class="h4  h4--notop">CMS development</h3>
					<p>Flexible CMS solutions allow me to build complex functionalities and data structures while your website remains easy to update. I will work closely with the people in charge of content to build a CMS experience that will fit their needs.</p>
				</div>
			</li><!--
	 --><li class="grid__unit  medium-span-1of2">
				<div class="numbered-item  numbered-item--5">
					<h3 class="h4  h4--notop">Tests &amp; bug squashing</h3>
					<p>When the site is ready, you provide me with a minimal amount of content to publish and we test all functionalities together to make sure it is up to standards. Remaining bugs will be squashed properly and diligently.</p>
				</div>
			</li><!--
	 --><li class="grid__unit  medium-span-1of2">
				<div class="numbered-item  numbered-item--6">
					<h3 class="h4  h4--notop">Launch &amp; follow-up</h3>
					<p>After the final payment has been made, the site is published online and the adventure begins. Most clients know I like long term projects and ask me to stay involved for a little while after launch, but that is not mandatory.</p>
				</div>
			</li>
		</ol>
	</section>

</main>