---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "home" %}

{% set metaTitle = "Welcome" %}
{% set metaDescription = "Web design and code from Brussels, Belgium by Jérôme Coupé." %}
{% set metaImage = site.url ~ "/img/me-600.jpg" %}

{% block content %}
<main>

  <div class="c-pageintro">
    <div class="l-container">
      <div class="c-pageintro__inner">

        <p class="c-suptitle">From Brussels, Belgium</p>
        <h1 class="c-h1  c-h1--invert">UX, Design <span class="amperstand">&amp;</span> code</h1>
        <p class="c-txtintro">Webstoemp is the online home of Jérôme Coupé, a belgian front-end designer and teacher. Just like any great dish, I believe websites are made of a few simple but carefully chosen and well prepared ingredients.</p>
      </div>
    </div>
  </div>

  <div class="c-banner  c-banner--home"></div>

  <div class="c-pagecontent">
    <div class="l-container  l-services">

    <h2 class="c-smalltitle  l-services__title">Services à la carte</h2>
    {% for service in services %}
      {% if loop.first %}<ul class="l-services__grid">{% endif %}
      <li>
        <div class="c-service">
          <p class="c-service__icon">{% include "svg/" ~ service.icon  %}</p>
          <h3 class="c-h5">{{ service.title }}</h3>
          <p class="c-service__text">{{ service.description }}</p>
        </div>
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    </div>
  </div>

</main>
{% endblock %}
