/*------------------------------------*\
=typography
\*------------------------------------*/

@mixin rem-size($number:16px)
{
	font-size:$number;
	font-size:($number / 16px) + rem;
}


/*------------------------------------*\
=media queries
\*------------------------------------*/

/**
 * create media query for each breakpoint in list
 *
 * - we check if passed breakpoint corresponds to something in mq-list
 * - all brekpoints are used here, including those specified as grid:false
 */

@mixin mq($breakpoint)
{

	$isdefined:false;

	@each $mq in $mq-list
	{
		$mq-name: 	nth($mq, 1);
		$mq-param: 	nth($mq, 2);

		@if (unquote($breakpoint) == $mq-name)
		{
			$isdefined:true;

			@media all and #{$mq-param}
			{
				@content;
			}
		}
	}

	@if ($isdefined == false)
	{
		@warn "Breakpoint ‘#{$breakpoint}’ is not defined";
	}
}