/*------------------------------------*\
=clearfix
\*------------------------------------*/

%clearfix, .clearfix
{
  &:before, &:after
  {
    content:"";
    display:table;
  }

  &:after
  {
    clear:both;
  }

  .lt-ie8 &
  {
    min-height:1%;
  }
}


/*------------------------------------*\
=center text
\*------------------------------------*/
%aligncenter, .aligncenter
{
  text-align:center;
}


/*------------------------------------*\
=lists helpers
\*------------------------------------*/

%list-bare, .list-bare
{
  list-style:none;
  margin:0;
  padding:0;
}


/*------------------------------------*\
=hide things
\*------------------------------------*/

%visuallyhidden, .visuallyhidden
{
  position:absolute;
  overflow:hidden;
  clip:rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

%hidecontent, .hidecontent //works on block or inline-block elements
{
  text-indent:-500px;
  overflow:hidden;
}