// -------------------------------------
// Fonts
// -------------------------------------

/**
 * Spectral is a font from Production Type
 * https://github.com/productiontype/spectral
*/

@font-face {
  font-family: "Spectral";
  src: url("../fonts/spectral-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
