// -------------------------------------
// Fonts
// -------------------------------------

/**
 * Spectral is a font from Production Type
 * https://github.com/productiontype/spectral
*/

@font-face {
  font-family: "Spectral";
  src: url("../fonts/spectral-semibold.woff2") format("woff2"),
    url("../fonts/spectral-semibold.woff") format("woff");
  font-weight: 600;
  font-display: fallback;
}
