// -------------------------------------
// Settings
// -------------------------------------

$breakpoints-map: (
  small: "all and (min-width: 500px)",
  medium: "all and (min-width: 750px)",
  large: "all and (min-width: 1024px)",
  xlarge: "all and (min-width: 1140px)",
) !default;

// -------------------------------------
// Mixin
// -------------------------------------

@mixin mq($breakpoint-name) {
  // check if passed name is in $breakpoints-map
  @if map-has-key($breakpoints-map, $breakpoint-name) {
    // get parameters and query
    $breakpoint-query: map-get($breakpoints-map, $breakpoint-name);

    // write media query
    @media #{$breakpoint-query} {
      @content;
    }

    // throw error if passed parameter is not a key in $breakpoints-map
  } @else {
    @error "#{$breakpoint-name} is not a key in $breakpoints-map";
  }
}
