/* ======================================
=titles
====================================== */

/* https://www.modularscale.com/?18&px&1.2 */

:is(.c-h1, .c-h2, .c-h3, .c-h4, .c-h5) {
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  color: var(--color-gray8);
}

.c-h1 {
  font-size: calc(31 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @media (width >= 750px) {
    font-size: calc(37 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    font-size: calc(45 / 16 * 1rem);
  }
}

.c-h1--invert {
  color: var(--color-white);
}

.c-h2 {
  font-size: calc(26 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @media (width >= 750px) {
    font-size: calc(31 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    font-size: calc(37 / 16 * 1rem);
  }
}

.c-h3 {
  font-size: calc(22 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @media (width >= 750px) {
    font-size: calc(26 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    font-size: calc(31 / 16 * 1rem);
  }
}

.c-h4 {
  font-size: calc(18 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @media (width >= 750px) {
    font-size: calc(22 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    font-size: calc(26 / 16 * 1rem);
  }
}

.c-h5 {
  font-size: calc(18 / 16 * 1rem);
  margin-bottom: calc(12 / 16 * 1rem);

  @media (width >= 1024px) {
    font-size: calc(22 / 16 * 1rem);
  }
}

/* -------------------------------------
= Special titles
------------------------------------- */

.c-suptitle {
  font-weight: 500;
  font-size: calc(13 / 16 * 1rem);
  font-family: var(--fontstack-main);
  line-height: 1.2;
  color: var(--color-brand4);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: calc(12 / 16 * 1rem);
}

.c-suptitle--dark {
  color: var(--color-brand5);
}

.c-smalltitle {
  font-weight: 500;
  font-size: calc(13 / 16 * 1rem);
  font-family: var(--fontstack-main);
  line-height: 1.2;
  color: var(--color-gray8);
  text-transform: uppercase;
  letter-spacing: 1px;
}
