/* ======================================
=social media
====================================== */

.c-socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(6 / 16 * 1rem);

  @media (width >= 750px) {
    justify-content: flex-end;
  }
}

.c-socialmedia__link {
  display: block;
  color: var(--color-gray7);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-gray6);
  }
}

.c-socialmedia__link > svg {
  display: block;
}
