/* ======================================
=footer navigation
====================================== */

.c-footernav {
  list-style: none;
  margin: 0 0 calc(42 / 16 * 1rem);
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media (width >= 750px) {
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.c-footernav__item:not(:last-child) {
  @media (width >= 750px) {
    margin-right: calc(36 / 16 * 1rem);
  }
}

.c-footernav__link {
  display: block;
  padding: calc(12 / 16 * 1rem) 0;
  font-weight: 600;
  font-size: calc(13 / 16 * 1rem);
  color: var(--color-gray6);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-gray4);
    text-decoration: none;
  }

  @media (width >= 750px) {
    padding: calc(6 / 16 * 1rem) 0;
  }
}

.c-footernav__link.is-active {
  color: var(--color-gray3);
}
