<footer class="sitefooter">

  <div class="sitefooter__top">
    <p class="footer-invite"><a href="/contact/">Want me to cook something for you? <span>Let's do it!</span></a></p>
  </div>

  <div class="sitefooter__bottom">
    <div class="container">

      <div class="grid">
        <div class="sitefooter__me  grid__unit  medium-span-5of12  large-span-6of12">
          <div class="media">
            <img src="/img/avatar.jpg" class="media__img  thecook" width="50" height="50" alt="jérôme coupé">
            <div class="media__body">
              <h2 class="title-footer">The cook</h2>
              <p>Webstoemp is the digital kitchen of web designer, developer and teacher Jérôme Coupé. I design and code websites for people and businesses.<p>
                <p><a href="/about/" class="more">More</a></p>
              </div>
            </div>
          </div><!--
          --><div class="sitefooter__elsewhere  grid__unit  medium-span-3of12  large-span-2of12">
          <h2 class="title-footer">Elsewhere</h2>
          <ul class="list-social">
            <li class="list-social__item"><a rel="me" href="https://twitter.com/jeromecoupe"><svg class="icon  icon--inline" width="18" height="18" role="img" title="Twitter"><use xlink:href="/img/svg_sprite/svgsprite.svg#icon_round_twitter"></use></svg>Twitter</a></li>
            <li class="list-social__item"><a rel="me" href="https://github.com/jeromecoupe"><svg class="icon  icon--inline" width="18" height="18" role="img" title="Github"><use xlink:href="/img/svg_sprite/svgsprite.svg#icon_round_github"></use></svg>Github</a></li>
            <li class="list-social__item"><a rel="me" href="https://dribbble.com/jeromecoupe"><svg class="icon  icon--inline" width="18" height="18" role="img" title="Dribbble"><use xlink:href="/img/svg_sprite/svgsprite.svg#icon_round_dribbble"></use></svg>Dribbble</a></li>
            <li class="list-social__item"><a rel="me" href="https://pinboard.in/u:jeromecoupe/"><svg class="icon  icon--inline" width="18" height="18" role="img" title="Pinboard"><use xlink:href="/img/svg_sprite/svgsprite.svg#icon_round_pinboard"></use></svg>Pinboard</a></li>
            <li class="list-social__item"><a rel="me" href="https://www.linkedin.com/in/jcoupe"><svg class="icon  icon--inline" width="18" height="18" role="img" title="LinkedIn"><use xlink:href="/img/svg_sprite/svgsprite.svg#icon_round_linkedin"></use></svg>LinkedIn</a></li>
          </ul>
        </div><!--
        --><div class="sitefooter__contact  grid__unit  medium-span-4of12">
        <h2 class="title-footer">Get in touch</h2>
        <p>Like what you see and need more information? Drop me a line.</p>
        <p><a href="mailto:hello@webstoemp.com">hello@webstoemp.com</a></p>
      </div>
    </div>

    <div class="sitefooter__copyright">
      <p>&copy; {{ 'now' | date: '%Y' }} Webstoemp - All rights reserved</p>
    </div>

  </div>
</div>

</footer>

<!-- all other scripts minified and concatenated -->
<script src="/js/webstoemp.min.js"></script>

<!--[if lt IE 9]>
<script src="/js/vendors/domassistant.min.js"></script>
<script src="/js/vendors/selectivizr.min.js"></script>
<script src="/js/vendors/respond.min.js"></script>
<![endif]-->
