<footer class="sitefooter">

  <div class="sitefooter__top">
    <p class="footer-invite"><a href="/contact/">Want me to cook something for you? <span>Let's do it!</span></a></p>
  </div>

  <div class="sitefooter__bottom">
    <div class="container">

      <div class="grid">
        <div class="sitefooter__me  grid__unit  medium-span-5of12  large-span-6of12">
          <div class="media">
            <img src="/assets/img/placeholder_square.png" class="media__img  thecook" width="60" height="60" alt="jérôme coupé" />
            <div class="media__body">
              <h2 class="title-footer">The cook</h2>
              <p>Webstoemp is the digital kitchen of web designer, developer and teacher Jérôme Coupé. I design and code websites for people and businesses.<p>
              <p><a href="/about/" class="more">More</a></p>
            </div>
          </div>
        </div><!--
     --><div class="sitefooter__elsewhere  grid__unit  medium-span-3of12  large-span-2of12">
          <h2 class="title-footer">Elsewhere</h2>
          <ul class="list-social">
            <li class="list-social__item"><a href="https://twitter.com/jeromecoupe"><i class="icon  icon--round-twitter"></i>Twitter</a></li>
            <li class="list-social__item"><a href="https://github.com/jeromecoupe"><i class="icon  icon--round-github"></i>Github</a></li>
            <li class="list-social__item"><a href="https://dribbble.com/jeromecoupe"><i class="icon  icon--round-dribbble"></i>Dribbble</a></li>
            <li class="list-social__item"><a href="https://pinboard.in/u:jeromecoupe/"><i class="icon  icon--round-pinboard"></i>Pinboard</a></li>
            <li class="list-social__item"><a href="https://www.linkedin.com/in/jcoupe"><i class="icon  icon--round-linkedin"></i>LinkedIn</a></li>
          </ul>
        </div><!--
     --><div class="sitefooter__contact  grid__unit  medium-span-4of12">
          <h2 class="title-footer">Get in touch</h2>
          <p>Like what you see and need  more information? Drop me a line.</p>
          <p><a href="mailto:hello@webstoemp.com">hello@webstoemp.com</a></p>
        </div>
      </div>

      <div class="sitefooter__copyright">
        <p>&copy; 2014 Jérôme Coupé - All rights reserved</p>
      </div>

    </div>
  </div>

</footer>

<!-- all other scripts minified and concatenated -->
<script src="/js/webstoemp.min.js"></script>

<!--[if lt IE 9]>
  <script src="/js/vendors/domassistant.min.js"></script>
  <script src="/js/vendors/selectivizr.min.js"></script>
  <script src="/js/vendors/respond.min.js"></script>
<![endif]-->