<header class="siteheader">

  <div class="siteheader__navbar">
    <div class="container  clearfix">

      <p class="logo"><a href="/"><img src="/img/logo_print.png" width="122" height="16" alt="webstoemp"></a></p>

      {% include nav.html %}

    </div>
  </div>

  {% if page.banner == true %}
    <div class="siteheader__banner  siteheader__banner--3" role="banner">
      <div class="container  animation-slide-in">
        <h1 class="banner-title">Delicious websites from Brussels</h1>
        <h2 class="banner-tagline">Tasteful <span class="amperstand">&amp;</span> effective web design</h2>
        <p><a href="/work/" class="banner-button">Portfolio</a></p>
      </div>
    </div>
  {% endif %}

</header>