<head>

    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}Webstoemp: Delicious websites from Brussels</title>
    <meta name="description" content="{{ site.html_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/screen.min.css" media="screen" />
    <!-- <link rel="stylesheet" href="/css/print.min.css" media="screen" /> -->

    <!-- Modernizr & Picturefill -->
    <script src="/js/vendors/modernizr.min.js"></script>
    <script src="/js/vendors/picturefill.min.js" async="async"></script>

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/sgx2sir.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>