<head>

  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}Webstoemp</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.html_description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/screen.min.css?v=2014102253" media="screen">
  <link rel="stylesheet" href="/css/print.min.css?v=2014102253" media="print">

  <!-- DNS Prefetch -->
  <link rel="dns-prefetch" href="//use.typekit.net">

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" href="https://pixelandtonic.com/blog/feed.rss" title="Webstoemp Blog">

  <!-- Modernizr & Picturefill -->
  <script src="/js/vendors/modernizr.min.js"></script>
  <script src="/js/vendors/picturefill.min.js" async="async"></script>

  <!-- Typekit -->
  <script src="//use.typekit.net/pkf2yjb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55680384-1', 'auto');
      ga('send', 'pageview');
  </script>

</head>