{% macro itemBlogpost(date, title, url) %}
  <article class="c-blogteaser">
    <p class="c-blogteaser__date"><time datetime="{{ date | dateISO }}">{{ date | dateFull }}</time></p>
    <h2 class="c-blogteaser__title"><a class="c-blogteaser__link" href="{{ url }}">{{ title }}</a></h2>
  </article>
{% endmacro %}