// -------------------------------------
// Footer CTA
// -------------------------------------

.c-footercta {
  display: block;
  padding: pxtorem(36px) pxtorem(24px);
  text-align: center;
  background-color: $color-brand3;

  font-weight: 600;
  font-size: pxtorem(20px);
  line-height: 1.4;
  font-family: $fontstack-alt;
  text-decoration: none;
  color: $color-gray8;

  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $color-gray8;
    background-color: $color-brand2;
  }

  & > span {
    color: $color-brand6;
  }

  @include mq(small) {
    font-size: pxtorem(20px);
  }

  @include mq(medium) {
    font-size: pxtorem(26px);
    padding: pxtorem(36px) pxtorem(42px);
  }
}
