// -------------------------------------
// Blog teaser
// -------------------------------------

.c-blogteaser {
  padding: pxtorem(12px) 0;

  @include mq(large) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.c-blogteaser__date {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: pxtorem(16px);
  color: $color-gray6;

  @include mq(large) {
    width: 300px;
    flex: 0 0 auto;
  }
}

.c-blogteaser__title {
  flex: 1 1 100%;

  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: pxtorem(20px);
  line-height: (30/20);
  font-family: $fontstack-alt;
  color: $color-gray8;

  @include mq(medium) {
    font-size: pxtorem(23px);
  }

  @include mq(large) {
    font-size: pxtorem(25px);
  }
}
