// -------------------------------------
// Intros
// -------------------------------------

.c-txtintro {
  font-weight: 400;
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-gray4);

  a {
    color: var(--color-brand5);
    text-decoration: underline;
  }

  a:hover {
    color: var(--color-brand5);
    text-decoration: none;
  }

  @include mq(medium) {
    font-size: calc(20 / 16 * 1rem);
  }
}

.amperstand {
  font-weight: 400;
  font-family: "Baskerville", "Palatino", "Constantia", "Book Antiqua", serif;
  font-style: italic;
}
