// -------------------------------------
// Titles
// -------------------------------------

.c-h1 {
  font-weight: 600;
  font-size: calc(31 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-gray8);
  margin-bottom: calc(18 / 16 * 1rem);

  @include mq(medium) {
    font-size: calc(39 / 16 * 1rem);
  }

  @include mq(large) {
    font-size: calc(45 / 16 * 1rem);
  }
}

.c-h1--invert {
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-h2 {
  font-weight: 600;
  font-size: calc(29 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-gray8);

  margin-top: calc(36 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @include mq(medium) {
    font-size: calc(31 / 16 * 1rem);
  }

  @include mq(large) {
    font-size: calc(36 / 16 * 1rem);
  }
}

.c-h2--invert {
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-h3 {
  font-weight: 600;
  font-size: calc(23 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-gray8);
  margin-top: calc(36 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @include mq(medium) {
    font-size: calc(25 / 16 * 1rem);
  }

  @include mq(large) {
    font-size: calc(29 / 16 * 1rem);
  }
}

.c-h3--invert {
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-h4 {
  font-weight: 700;
  font-size: calc(20 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-gray8);
  margin-top: calc(36 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @include mq(medium) {
    font-size: calc(23 / 16 * 1rem);
  }

  @include mq(large) {
    font-size: calc(25 / 16 * 1rem);
  }
}

.c-h4--invert {
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-h5 {
  font-weight: 600;
  font-size: calc(20 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-gray8);
  margin-bottom: calc(12 / 16 * 1rem);

  @include mq(large) {
    font-size: calc(23 / 16 * 1rem);
  }
}

// -------------------------------------
// Special titles
// -------------------------------------

.c-suptitle {
  font-weight: 600;
  font-size: calc(13 / 16 * 1rem);
  font-family: var(--fontstack-main);
  color: var(--color-brand4);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: calc(12 / 16 * 1rem);
}

.c-suptitle--dark {
  color: var(--color-brand5);
}

.c-smalltitle {
  font-weight: 700;
  font-size: calc(13 / 16 * 1rem);
  font-family: var(--fontstack-main);
  color: var(--color-gray8);
  text-transform: uppercase;
  letter-spacing: 1px;
}
