// -------------------------------------
// Blogposts
// -------------------------------------

.c-blogpost {
  padding-bottom: pxtorem(60px);

  @include mq(medium) {
    padding-bottom: pxtorem(84px);
  }
}

.c-blogpost__media {
  background-image: linear-gradient(
    to bottom,
    $color-gray8 0,
    $color-gray8 50%,
    rgba($color-gray8, 0) 50%,
    rgba($color-gray8, 0) 100%
  );
}

.c-blogpost__intro {
  font-size: pxtorem(18px);
  color: $color-gray7;

  @include mq(medium) {
    font-size: pxtorem(20px);
  }
}

.c-blogpost__body {
  padding-top: pxtorem(60px);

  @include mq(medium) {
    padding-top: pxtorem(84px);
  }
}
