// -------------------------------------
// Page content
// -------------------------------------

.c-pagecontent {
  padding-top: pxtorem(60px);
  padding-bottom: pxtorem(60px);

  @include mq(medium) {
    padding-top: pxtorem(84px);
    padding-bottom: pxtorem(84px);
  }
}

.c-pagecontent--dark {
  background-color: $color-gray8;
  color: $color-gray6;

  a {
    color: $color-brand5;
  }
}
