// -------------------------------------
// Page introductions
// -------------------------------------

.c-pageintro {
  padding-bottom: calc(36 / 16 * 1rem);
  background-color: var(--color-gray8);

  @include mq(medium) {
    padding-bottom: calc(72 / 16 * 1rem);
  }

  @include mq(large) {
    padding-bottom: calc(84 / 16 * 1rem);
  }
}

.c-pageintro__inner {
  max-width: 720px;
}
