// -------------------------------------
// Projects
// -------------------------------------

.c-project {
  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 42px;
  }
}

.c-project__image {
  margin-bottom: pxtorem(24px);

  & > a {
    display: block;
  }

  @include mq(medium) {
    @supports (display: grid) {
      margin-bottom: 0;
    }

    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.c-project__body {
  @include mq(medium) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @supports (display: grid) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.c-project__title {
  font-weight: 600;
  font-size: pxtorem(23px);
  font-family: $fontstack-alt;
  line-height: (30/23);
  color: $color-gray8;
  margin-bottom: pxtorem(18px);

  @include mq(medium) {
    font-size: pxtorem(25px);
    line-height: (30/25);
  }

  @include mq(large) {
    font-size: pxtorem(29px);
    line-height: (36/29);
  }
}

.c-project__description {
  color: $color-gray7;
}

.c-project__reference {
  margin-bottom: 0;
  margin-top: pxtorem(6px) * -1;
}

.c-project__link {
  display: inline-block;
  padding-bottom: pxtorem(1px);

  color: $color-gray8;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid $color-brand3;

  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $color-brand5;
    border-color: $color-gray3;
  }
}
