// -------------------------------------
// Titles in wysiwyg
// -------------------------------------

.c-wysiwyg {
  h2 {
    font-weight: 600;
    font-size: calc(29 / 16 * 1rem);
    font-family: var(--fontstack-alt);
    line-height: 1.2;
    color: var(--color-gray8);
    margin-bottom: calc(18 / 16 * 1rem);

    @include mq(medium) {
      font-size: calc(31 / 16 * 1rem);
    }

    @include mq(large) {
      font-size: calc(36 / 16 * 1rem);
    }
  }

  h3 {
    font-weight: 600;
    font-size: calc(23 / 16 * 1rem);
    font-family: var(--fontstack-alt);
    line-height: 1.2;
    color: var(--color-gray8);
    margin-bottom: calc(18 / 16 * 1rem);

    @include mq(medium) {
      font-size: calc(25 / 16 * 1rem);
    }

    @include mq(large) {
      font-size: calc(29 / 16 * 1rem);
    }
  }

  h4 {
    font-weight: 600;
    font-size: calc(20 / 16 * 1rem);
    font-family: var(--fontstack-alt);
    line-height: 1.2;
    color: var(--color-gray8);
    margin-bottom: calc(18 / 16 * 1rem);

    @include mq(medium) {
      font-size: calc(23 / 16 * 1rem);
    }

    @include mq(large) {
      font-size: calc(25 / 16 * 1rem);
    }
  }
}

// -------------------------------------
// Code in wywiwyg
// -------------------------------------

.c-wysiwyg {
  code {
    color: var(--color-brand6);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
  }
}
