// -------------------------------------
// Projects
// -------------------------------------

.c-project {
  margin: 0;
  padding: 0;
}

.c-project__link {
  display: block;
  text-decoration: none;

  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 42px;
  }

  @include mq(large) {
    grid-gap: 60px;
  }
}

.c-project__image {
  margin-bottom: pxtorem(24px);

  & > a {
    display: block;
  }

  @include mq(medium) {
    @supports (display: grid) {
      margin-bottom: 0;
    }

    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.c-project__body {
  @include mq(medium) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @supports (display: grid) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.c-project__client {
  margin-bottom: pxtorem(12px);
  font-weight: 600;
  font-size: pxtorem(15px);
  line-height: (18/15);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-gray7;
}

.c-project__title {
  font-weight: 600;
  font-size: pxtorem(23px);
  font-family: $fontstack-alt;
  line-height: (30/23);
  color: $color-gray8;
  margin-bottom: pxtorem(18px);

  transition: color 0.2s ease-in-out;

  a:hover & {
    color: $color-brand5;
  }

  @include mq(medium) {
    font-size: pxtorem(25px);
    line-height: (30/25);
  }

  @include mq(large) {
    font-size: pxtorem(29px);
    line-height: (36/29);
  }
}

.c-project__description {
  color: $color-gray7;
}
