// -------------------------------------
// Page introductions
// -------------------------------------

.c-pageintro {
  padding-bottom: pxtorem(36px);
  background-color: $color-gray8;

  @include mq(medium) {
    padding-bottom: pxtorem(72px);
  }

  @include mq(large) {
    padding-bottom: pxtorem(84px);
  }
}

.c-pageintro__inner {
  max-width: 720px;
}
