// -------------------------------------
// Tags
// -------------------------------------

.c-tags {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.c-tags__item {
  font-size: pxtorem(15px);
  font-weight: 400;
  color: $color-gray8;
}

.c-tags__item:not(:last-child) {
  margin-right: 6px;
}

.c-tags__item:before {
  content: "#";
  display: inline-block;
  color: $color-brand4;
  margin-right: pxtorem(3px);
}
