// -------------------------------------
// Titles in wysiwyg
// -------------------------------------

.c-wysiwyg {
  h2 {
    font-weight: 600;
    font-size: pxtorem(29px);
    font-family: $fontstack-alt;
    line-height: 1.2;
    color: $color-gray8;
    margin-top: pxtorem(30px);
    margin-bottom: pxtorem(18px);

    @include mq(medium) {
      font-size: pxtorem(31px);
    }

    @include mq(large) {
      font-size: pxtorem(36px);
    }
  }

  h3 {
    font-weight: 600;
    font-size: pxtorem(23px);
    font-family: $fontstack-alt;
    line-height: 1.2;
    color: $color-gray8;
    margin-top: pxtorem(30px);
    margin-bottom: pxtorem(18px);

    @include mq(medium) {
      font-size: pxtorem(25px);
    }

    @include mq(large) {
      font-size: pxtorem(29px);
    }
  }

  h4 {
    font-weight: 600;
    font-size: pxtorem(20px);
    font-family: $fontstack-alt;
    line-height: 1.2;
    color: $color-gray8;
    margin-top: pxtorem(30px);
    margin-bottom: pxtorem(18px);

    @include mq(medium) {
      font-size: pxtorem(23px);
    }

    @include mq(large) {
      font-size: pxtorem(25px);
    }
  }
}

// -------------------------------------
// Code in wywiwyg
// -------------------------------------

.c-wysiwyg {
  code {
    color: $color-brand6;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
  }
}
