// -------------------------------------
// Small box
// -------------------------------------

.c-smallbox {
  margin-bottom: calc(30 / 16 * 1rem);
}

.c-smallbox + .c-smallbox {
  border-top: 1px solid var(--color-brand3);
  padding-top: calc(30 / 16 * 1rem);
}

.c-smallbox__title {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 700;
  font-size: calc(14 / 16 * 1rem);
  font-family: var(--fontstack-main);
  color: var(--color-gray8);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.c-smallbox__body {
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(18 / 14);
  color: var(--color-gray7);

  @include mq(large) {
    font-size: 1rem;
    line-height: calc(24 / 16);
  }
}
