// -------------------------------------
// Titles in wysiwyg
// -------------------------------------

.c-wysiwyg {
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    font-family: var(--fontstack-alt);
    line-height: 1.2;
    color: var(--color-gray8);
  }

  h2 {
    font-size: calc(26 / 16 * 1rem);
    margin-bottom: calc(18 / 16 * 1rem);

    @include mq(medium) {
      font-size: calc(31 / 16 * 1rem);
    }

    @include mq(large) {
      font-size: calc(37 / 16 * 1rem);
    }
  }

  h3 {
    font-size: calc(22 / 16 * 1rem);
    margin-bottom: calc(18 / 16 * 1rem);

    @include mq(medium) {
      font-size: calc(26 / 16 * 1rem);
    }

    @include mq(large) {
      font-size: calc(31 / 16 * 1rem);
    }
  }

  h4 {
    font-size: calc(18 / 16 * 1rem);
    margin-bottom: calc(18 / 16 * 1rem);

    @include mq(medium) {
      font-size: calc(22 / 16 * 1rem);
    }

    @include mq(large) {
      font-size: calc(26 / 16 * 1rem);
    }
  }
}

// -------------------------------------
// Code in wywiwyg
// -------------------------------------

.c-wysiwyg {
  code {
    color: var(--color-brand6);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
  }
}
