// -------------------------------------
// Copyright
// -------------------------------------

.c-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0;
  padding: pxtorem(24px) 0;
  color: $color-gray7;
}
