// -------------------------------------
// Footer CTA
// -------------------------------------

.c-footercta {
  display: block;
  padding: calc(36 / 16 * 1rem) calc(24 / 16 * 1rem);
  text-align: center;
  background-color: var(--color-brand3);

  font-weight: 600;
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.4;
  font-family: var(--fontstack-alt);
  text-decoration: none;
  color: var(--color-gray8);

  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-gray8);
    background-color: var(--color-brand2);
  }

  & > span {
    color: var(--color-brand7);
  }

  @include mq(small) {
    font-size: calc(20 / 16 * 1rem);
  }

  @include mq(medium) {
    font-size: calc(26 / 16 * 1rem);
    padding: calc(36 / 16 * 1rem) calc(42 / 16 * 1rem);
  }
}
