// -------------------------------------
// Service
// -------------------------------------

.c-service {
  margin-bottom: calc(24 / 16 * 1rem);
}

.c-service__icon {
  margin-bottom: calc(24 / 16 * 1rem);

  & svg {
    vertical-align: middle;
  }
}

.c-service__title {
  font-weight: 600;
  font-size: calc(22 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  line-height: 1.2;
  color: var(--color-gray8);
  margin-bottom: calc(12 / 16 * 1rem);
}

.c-service__text {
  margin-bottom: 0;
  color: var(--color-gray7);
}
