// -------------------------------------
// Banners
// -------------------------------------

.c-banner {
  height: 264px;
  background-color: $color-brand2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-banner--home {
  background-image: url(../img/banners/banner-home-1500.jpg);
}

.c-banner--work {
  background-image: url(../img/banners/banner-work-1500.jpg);
}

.c-banner--blog {
  background-image: url(../img/banners/banner-blog-1500.jpg);
}
