/*------------------------------------*\
=imports
\*------------------------------------*/

/*=sass files
######################################*/

/**
 * - BASE: generic styles (body, etc), normalize, typography
 * - LAYOUT: grid, general page layout, header, footer, content, etc.
 * - COMPONENTS: typography (titles, links, buttons, types of texts)
 * - UTILS: utilities and configuration
 */

@import "utils/functions";
@import "utils/helpers";
@import "utils/mixins";
@import "utils/variables";
@import "utils/cssobjects";

@import "vendors/normalize";
@import "vendors/syntax-highlighting";

@import "base/generic";
@import "base/typography";

@import "layout/grid";
@import "layout/main";
@import "layout/header";
@import "layout/footer";
@import "layout/content";

@import "components/lists";
@import "components/forms";
@import "components/media";
@import "components/modules";
@import "components/icons";
@import "components/animations";
