<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webstoemp</title>
  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
  {% include "partials/siteheader.njk" %}
  {% include "partials/mobilemenu.njk" %}

  {% block content %}{% endblock %}

  {% include "partials/sitefooter.njk" %}
  <script src="/js/main.bundle.js"></script>
</body>
</html>
