{% extends "layouts/base.njk" %}
{% set activeSection = "blog" %}

{% set metaTitle = title %}
{% set metaDescription = excerpt %}

{% set metaImage %}
  {% set img = "./src/assets/img/blogposts/" ~ image %}
  {% transform img, {width: 600, height: 600} %}
{% endset %}

{% block content %}
  <main>
    <article class="c-blogpost">
      <div class="c-blogpost__media">
        <div class="l-container">
          {% set img = "./src/assets/img/blogposts/" ~ image %}
          <picture>
              <source srcset="{% transform img, {width: 1024, height: 576} %} 1024w,
                              {% transform img, {width: 1500, height: 844} %} 1500w"
                      sizes="(min-width: 1140px) 1140px,
                            100vw"
                      media="(min-width: 500px)">
              <img src="{% transform img, {width: 600, height: 600} %}"
                  class="o-fluidimage"
                  alt="{{ imageAlt }}">
          </picture>
        </div>
      </div>

      <div class="c-blogpost__body  l-container  l-container--narrow">

        <header>
          <p class="c-suptitle  c-suptitle--dark"><time datetime="{{ page.date | date('YYYY-MM-DD') }}">{{ page.date | date("MMMM Do, YYYY") }}</time></p>
          <h1 class="c-h1">{{ title }}</h1>
          <div class="c-blogpost__intro">
            <p>{{ excerpt }}</p>
          </div>
        </header>

        <div class="c-wysiwyg">
          {{ content | safe }}
        </div>

      </div>
    </article>
  </main>
{% endblock %}
