---
permalink: about/index.html
---

{% extends "layouts/base.njk" %}
{% set activeSection = "about" %}

{% block content %}

  <main class="c-pagecontent">
    <div class="l-container">

      <p>Hello world</p>

    </div>
  </main>

{% endblock %}
