---
permalink: contact/index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "contact" %}

{% set metaTitle = "Contact Jérôme Coupé" %}
{% set metaDescription = "Front-end development, UX and design for businesses or agencies" %}
{% set metaImage = site.url ~ "/assets/img/metaimg.jpg" %}

{% block content %}
<main>

  <div class="c-pageintro">
    <div class="l-container">
      <div class="c-pageintro__inner">

        <p class="c-suptitle">Getting to know me</p>
        <h1 class="c-h1  c-h1--invert">Meet the cook</h1>
        <p class="c-txtintro">When I am not busy designing and coding up a website or twisting young minds at school, chances are I am drinking a few Belgian craft beers with friends somewhere in Brussels.</p>

      </div>
    </div>
  </div>

  <div class="c-banner  c-banner--contact"></div>

  <div class="c-pagecontent">
    <div class="l-container  l-contact">

      <div class="l-contact__main">
        <h2 class="c-h2">What's on the menu</h2>
        <p>Although I work on web apps too, I must confess I have a soft spot for building publication platforms and content-oriented websites.</p>
        <p>Here are the types of projects I usually work on:</p>
        <ul>
          <li>Discovery and definition workshops</li>
          <li>Websites and interface design</li>
          <li>Code prototypes</li>
          <li>Design systems / pattern libraries</li>
          <li>HTML/CSS/JS development</li>
          <li>Jamstack websites (Eleventy, Hugo, Jekyll)</li>
          <li>Content Management Systems implementations (Craft CMS, Dato CMS, Contentful, Forestry, Netlify CMS)</li>
        </ul>
        <p>When not freelancing, I teach design and front-end development at IAD, a communication and art school in Louvain-La-Neuve.</p>

        <h2 class="c-h3">Partner with clients</h2>
        <p>I favour partnerships over one-shot projects. I frequently work in house as part of the team. I believe collaboration and conversations are the best tools to solve problems.</p>

        <h2 class="c-h3">Work with agencies</h2>
        <p>I work with web agencies and specialise in being at the intersection of design and development. I have been writing code and designing websites and interfaces for the last {{ (site.buildTime | date("YYYY")) - 1996 }} years. I can hit the ground running if you need help on a project.</p>

      </div>
      <div class="l-contact__secondary">

        <div class="c-smallbox">
          <h2 class="c-smallbox__title">Get in touch</h2>
          <div class="c-smallbox__body">
            <p>I am out and about a lot. <a href="mailto:hello@webstoemp.com">Email</a> and <a href="https://twitter.com/jeromecoupe">Twitter</a> are probably the most effective ways of getting a hold of me.</p>
          </div>
        </div>
        <div class="c-smallbox">
          <h2 class="c-smallbox__title">Colophon</h2>
          <div class="c-smallbox__body">
            <p>Webstoemp is powered by <a href="https://www.11ty.dev">Eleventy</a> and hosted on <a href="https://www.netlify.com">Netlify</a>. The source code is available on <a href="https://github.com/jeromecoupe/webstoemp/">Github</a> if you want to see how the <del>sausage</del> stoemp gets made.</p>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>
{% endblock %}
