/* ======================================
=containers
====================================== */

/**
 * Centered and have max-width + padding
*/

.l-container {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: calc(24 / 16 * 1rem);
  padding-right: calc(24 / 16 * 1rem);

  @media (width >= 750px) {
    padding-left: calc(42 / 16 * 1rem);
    padding-right: calc(42 / 16 * 1rem);
  }
}

.l-container--narrow {
  max-width: 672px;
}
