---
permalink: blog/index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "blog" %}

{% set metaTitle = "Toughts and Ramblings" %}
{% set metaDescription = "Blogposts by Jérôme Coupé: web design and development as well as other miscelaneous topics." %}
{% set metaImage = site.url ~ "/img/me-600.jpg" %}

{% block content %}
<main>

  <div class="c-pageintro">
    <div class="l-container">
      <div class="c-pageintro__inner">

        <p class="c-suptitle">Thoughts &amp; ramblings</p>
        <h1 class="c-h1  c-h1--invert">Blog archives</h1>
        <p class="c-txtintro">I write about whatever piques my interest at the moment. I just hope it will help me remember it all when I am old, gray and nodding by the fire. Read on or hit the <a href="/feed.xml">RSS feed</a> if you're so inclined.</p>

      </div>
    </div>
  </div>

  <div class="c-banner  c-banner--blog"></div>

  <div class="c-pagecontent">
    <div class="l-container">

      {% for post in collections.blogposts | reverse %}
        {% if loop.first %}<ul class="c-list-ui">{% endif %}
        <li>
          <article class="c-blogteaser">
            <p class="c-blogteaser__date"><time datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.date|date("MMMM Do, Y") }}</time></p>
            <h2 class="c-blogteaser__title"><a class="c-blogteaser__link" href="{{ post.url }}">{{ post.data.title }}</a></h2>
          </article>
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </div>
  </div>

</main>
{% endblock %}
