---
permalink: contact/index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "contact" %}

{% set metaTitle = "Contact Jérôme Coupé" %}
{% set metaDescription = "Webstoemp is the portfolio and blog of Jérôme Coupé, a teacher, designer and front-end developer from Brussels, Belgium." %}
{% set metaImage = site.url ~ "/img/me-600.jpg" %}

{% block content %}

  <main class="c-pagecontent  c-pagecontent--dark  u-padding-top-none">
    <div class="l-container  l-contact">

      <div class="l-contact__media">
        <img src="/img/me-600.jpg"
             srcset="/img/me-600.jpg 600w,
                     /img/me-1024.jpg 1024w"
             sizes="(min-width: 1140pw) 320px
                    (min-width: 750pw) 33vw,
                    100vw"
             class="o-fluidimage"
             alt="Jérôme Coupé">
      </div>
      <div class="l-contact__content">

        <p class="c-suptitle">Getting to know me</p>
        <h1 class="c-h1  c-h1--invert">Meet the cook</h1>

        <div class="c-txtintro">
          <p>Webstoemp is the portfolio and blog of Jérôme Coupé, a teacher, designer and front-end developer from Brussels, Belgium.</p>
        </div>

        <p>I am a front-end developer with an interest in design and UX. My specialties are UX code prototypes, design systems, HTML/CSS/JS development, JAMstack websites (Jekyll, Hugo, Eleventy) and CMS implementations (Craft CMS).</p>

        <p>When not busy designing or coding websites or giving workshops, I teach design and front-end at IAD in Louvain-La-Neuve. I have also been seen drinking belgian beers with friends somewhere in Brussels.</p>

        <h2 class="c-h4  c-h4--invert">Partner with clients</h2>
        <p>I favour partnerships over one-shot projects. I frequently work in house as part of the team because I believe that collaboration, conversations and exchnages and the best tools to solve problems.</p>

        <h2 class="c-h4  c-h4--invert">Working with agencies</h2>
        <p>I work with web agencies and specialise in being at the intersection of design and development. I have been writing HTML, CSS, JavaScript and creating websites for the last {{ site.buildTime| date("YYYY") - 1996 }} years, so I can hit the ground running if you need help on a project.</p>

        <h2 class="c-h4  c-h4--invert">Get in touch</h2>
        <p>I am out and about a lot. <a href="mailto:hello@webstoemp.com">Email</a> and <a href="https://twitter.com/jeromecoupe">Twitter</A> are probably most effective ways of getting in touch.</p>
      </div>

    </div>
  </main>

{% endblock %}
