---
permalink: contact/index.html
---

{% extends "layouts/base.njk" %}

{% set activeSection = "contact" %}

{% set metaTitle = "Contact Jérôme Coupé" %}
{% set metaDescription = "What a front-end designer can do for you and your business or agency" %}
{% set metaImage = site.url ~ "/img/me-600.jpg" %}

{% block content %}
<main>

  <div class="c-pagecontent  c-pagecontent--dark  u-padding-top-none">
    <div class="l-container  l-contact">

      <div class="l-contact__media">
        <img src="/img/me-600.jpg"
             srcset="/img/me-600.jpg 600w,
                     /img/me-1024.jpg 1024w"
             sizes="(min-width: 1140pw) 320px
                    (min-width: 750pw) 33vw,
                    100vw"
             class="o-fluidimage"
             alt="Jérôme Coupé">
      </div>
      <div class="l-contact__content">

        <p class="c-suptitle">Getting to know me</p>
        <h1 class="c-h1  c-h1--invert">Meet the cook</h1>

        <div class="c-txtintro">
          <p>As a front-end developer with a strong background in design and UX, I help clients and agencies bridge the gap between design and development.</p>
        </div>

        <p>Here are the kind of projects I usually work on:</p>
        <ul>
          <li>Discovery and definition workshops</li>
          <li>Websites and interface design</li>
          <li>Code prototypes</li>
          <li>Design systems / pattern libraries</li>
          <li>HTML/CSS/JS development</li>
          <li>JAMstack websites (Eleventy, Hugo, Jekyll)</li>
          <li>Content Management Systems implementations (Craft CMS, Dato CMS, Contentful, Forestry, Netlify CMS)</li>
        </ul>
        <p>When not freelancing, I teach design and front-end development at IAD in Louvain-La-Neuve.</p>

        <h2 class="c-h4  c-h4--invert">Partner with clients</h2>
        <p>I favour partnerships over one-shot projects. I frequently work in house as part of the team. I believe collaboration and conversations are the best tools to solve problems.</p>

        <h2 class="c-h4  c-h4--invert">Working with agencies</h2>
        <p>I work with web agencies and specialise in being at the intersection of design and development. I have been writing HTML, CSS, JavaScript and designing websites and interfaces for the last {{ (site.buildTime | date("YYYY")) - 1996 }} years. I can hit the ground running if you need help on a project.</p>

        <h2 class="c-h4  c-h4--invert">Get in touch</h2>
        <p>I am out and about a lot. <a href="mailto:hello@webstoemp.com">Email</a> and <a href="https://twitter.com/jeromecoupe">Twitter</A> are probably the most effective ways of getting in touch.</p>
      </div>

    </div>
  </div>

</main>
{% endblock %}
