// -------------------------------------
// contact grid
// -------------------------------------

.l-contact {
  @include mq(medium) {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-areas: "txt media";
    grid-gap: pxtorem(42px);
  }

  @include mq(large) {
    grid-template-columns: 6fr 4fr;
    grid-gap: pxtorem(60px);
  }
}

.l-contact__content {
  @include mq(medium) {
    grid-area: txt;
  }
}

.l-contact__media {
  margin-bottom: pxtorem(36px);

  @include mq(medium) {
    grid-area: media;

    @supports (display: grid) {
      margin-bottom: 0;
    }
  }
}
