// -------------------------------------
// contact grid
// -------------------------------------

.l-contact {
  display: grid;
  gap: calc(30 / 16 * 1rem);
  grid-template-columns: 1fr;
  grid-template-areas:
    "media"
    "content";

  @include mq(medium) {
    gap: calc(42 / 16 * 1rem);
  }

  @include mq(large) {
    grid-template-columns: 6fr 4fr;
    grid-template-areas: "content media";
    gap: calc(72 / 16 * 1rem);
  }
}

.l-contact__content {
  grid-area: content;
}

.l-contact__media {
  grid-area: media;
}
