// -------------------------------------
// contact grid
// -------------------------------------

.l-contact {
  display: grid;
  gap: calc(30 / 16 * 1rem);
  grid-template-columns: 1fr;
  grid-template-areas:
    "primary"
    "secondary";

  @include mq(large) {
    grid-template-columns: 7fr 3fr;
    grid-template-areas: "primary secondary";
    column-gap: calc(60 / 16 * 1rem);
  }

  @include mq(xlarge) {
    grid-template-columns: 6fr 1fr 3fr;
    grid-template-areas: "primary . secondary";
    gap: 0;
  }
}

.l-contact__primary {
  grid-area: primary;
}

.l-contact__secondary {
  grid-area: secondary;
}
