/*------------------------------------*\
=layout of the content area
\*------------------------------------*/

/**
 *
 *	.maincontent already has side margins from main.scss
 * .maincontent__primary and .maincontent__secondary are using inline-block grid (just margins here)
 *
*/

.maincontent__primary
{
	margin-bottom:1.5em;

	@include mq(medium)
	{
		margin-bottom:0;
	}
}

.maincontent__secondary
{
	margin-top:1.5em;

	@include mq(medium)
	{
		margin-top:0;
	}
}