/*------------------------------------*\
=footer styles
\*------------------------------------*/

.sitefooter
{
    color:$color-main-light1;
}

  .sitefooter__top
  {
    background:$color-accent;
    text-align:center;
  }

  .sitefooter__bottom
  {
    padding-top:3em;
    background:$color-main-dark2;

    @include mq(medium)
    {
      padding-top:4em;
    }
  }


/*------------------------------------*\
=invite (footer)
\*------------------------------------*/
.footer-invite
{
  margin:0;
  padding:0;
  @include rem-size(21px);
  font-family:$fontstack-alt;
  font-weight:400;
  line-height:1.5;
  color:#fff;

  @include mq(medium)
  {
    @include rem-size(24px);
  }

  a
  {
    display:block;
    padding:1.5em 5%;
    color:#fff;

    transition:background .2s linear;

    &:hover
    {
      background:$color-accent-light;
      text-decoration:none;
    }
  }

  span
  {
    color: $color-main-dark2;
  }
}


/*------------------------------------*\
=footer top sections
\*------------------------------------*/
.sitefooter__me, .sitefooter__elsewhere, .sitefooter__contact
{
  margin-bottom:2em;
}


/*------------------------------------*\
=social media
\*------------------------------------*/

.list-social
{
  @extend %list-bare;
  margin:1em 0;
}

  .list-social__item
  {
    margin:.5em 0;

    a
    {
      color:$color-main-light1;
    }

    a:hover
    {
      color:$color-accent-light;
      text-decoration:none;
    }
  }


/*------------------------------------*\
=cook picture (footer)
\*------------------------------------*/

.thecook
{
  display:none;
  border-radius:500px;

  @include mq(medium)
  {
    display:block;
  }
}

/*------------------------------------*\
=copyright
\*------------------------------------*/
.sitefooter__copyright
{
  padding:1.5em 0;
  border-top:1px solid lighten($color-main-dark1,5%);

  & > p
  {
    margin:0;
    padding:0;
    @include rem-size(14px);
    text-align:center;
  }
}