@keyframes slidetop
{
  0%
  {
    transform:translate3d(0,-3em,0);
    opacity:0;
  }

  100%
  {
    transform:translate3d(0,0,0);
    opacity:1;
  }
}

.animation-slide-in
{
  transform:translate3d(0,0,0);
  animation:slidetop .75s ease-out .1s;
}