/*------------------------------------*\
=forms basic styles
\*------------------------------------*/

form
{
	margin:1em 0;
}

.forminput
{
	border:1px solid $color-main-light3;
	background:#fff;
	color:$color-main;
}

.forminput--text
{
	box-sizing:border-box;
}

.formbutton
{
	display:inline-block;
	padding:.7em 1em;
	border:none;
	border-radius:.25em;
	background:$color-accent;

	@include rem-size(14px);
	line-height:1;
	font-weight:400;
	text-transform:uppercase;
	color:#fff;
}

/*------------------------------------*\
=searchform
\*------------------------------------*/

.searchform
{
	margin:2.5em 0;
	padding:1em 0;
	border-top:1px solid $color-main-light3;
	border-bottom:1px solid $color-main-light3;
	text-align:center;
}

	.searchform__field
	{
		box-sizing:border-box;
		padding:.4em .5em;
		border:none;
		border-radius:.25em;
		vertical-align:middle;
		background:$color-main-light3;
		color:$color-main;

		@include mq(medium)
		{
			min-width:20em;
			margin-right:.5em;
		}
	}

	.searchform__button
	{
		vertical-align:middle;
	}