.icon:before
{
  content:"";
  display:inline-block;
  line-height:1;
  margin-right:.5em;
  vertical-align:middle;
  background-repeat:no-repeat;
  background-size:contain;
}

  .icon--round-twitter:before
  {
    width:calc-em(18px);
    height:calc-em(18px);
    background-image:url(../img/icon_round_twitter.svg);

    .no-svg &
    {
      background-image:url(../img/icon_round_twitter.png);
    }
  }

  .icon--round-github:before
  {
    width:calc-em(18px);
    height:calc-em(18px);
    background-image:url(../img/icon_round_github.svg);

    .no-svg &
    {
      background-image:url(../img/icon_round_github.png);
    }
  }

  .icon--round-dribbble:before
  {
    width:calc-em(18px);
    height:calc-em(18px);
    background-image:url(../img/icon_round_dribbble.svg);

    .no-svg &
    {
      background-image:url(../img/icon_round_dribbble.png);
    }
  }

  .icon--round-pinboard:before
  {
    width:calc-em(18px);
    height:calc-em(18px);
    background-image:url(../img/icon_round_pinboard.svg);

    .no-svg &
    {
      background-image:url(../img/icon_round_pinboard.png);
    }
  }

  .icon--round-linkedin:before
  {
    width:calc-em(18px);
    height:calc-em(18px);
    background-image:url(../img/icon_round_linkedin.svg);

    .no-svg &
    {
      background-image:url(../img/icon_round_linkedin.png);
    }
  }

  .icon--category:before
  {
    width:calc-em(12px);
    height:calc-em(13px);
    background-image:url(../img/icon_category.svg);

    .no-svg &
    {
      background-image:url(../img/icon_category.png);
    }
  }

  .icon--rss:before
  {
    width:calc-em(13px);
    height:calc-em(13px);
    background-image:url(../img/icon_rss.svg);

    .no-svg &
    {
      background-image:url(../img/icon_rss.png);
    }
  }

  .icon--email:before
  {
    width:calc-em(16px);
    height:calc-em(14px);
    background-image:url(../img/icon_email.svg);

    .no-svg &
    {
      background-image:url(../img/icon_email.png);
    }
  }

  .icon--phone:before
  {
    width:calc-em(16px);
    height:calc-em(16px);
    background-image:url(../img/icon_phone.svg);

    .no-svg &
    {
      background-image:url(../img/icon_phone.png);
    }
  }

  .icon--twitter:before
  {
    width:calc-em(16px);
    height:calc-em(14px);
    background-image:url(../img/icon_twitter.svg);

    .no-svg &
    {
      background-image:url(../img/icon_twitter.png);
    }
  }

  .icon--redbullet:before
  {
    width:calc-em(14px);
    height:calc-em(14px);
    margin-right:.3em;
    background-image:url(../img/icon_redbullet.svg);

    .no-svg &
    {
      background-image:url(../img/icon_redbullet.png);
    }
  }