/*------------------------------------*\
=typography main
\*------------------------------------*/

html
{
	font:normal 100%/1.5 $fontstack-main;
}

body
{
	color:$color-main;
}

/*------------------------------------*\
=titles
\*------------------------------------*/

/*
 *
 * Main titles
 * Using classes in HTML5
 *
**/

%title
{
	margin:1em 0 .5em 0;
	padding:0;
	line-height:1.3;
	color:$color-main-dark1;
	font-family:$fontstack-alt;
	font-weight:600;
}

.h1
{
	@extend %title;
	@include rem-size(24px);

	@include mq(medium)
	{
		@include rem-size(31px);
	}

	@include mq(large)
	{
		@include rem-size(36px);
	}

}

.h2
{
	@extend %title;
	@include rem-size(21px);

	@include mq(medium)
	{
		@include rem-size(24px);
	}
}

.h3
{
	@extend %title;
	@include rem-size(18px);

	@include mq(medium)
	{
		@include rem-size(21px);
	}
}

.h4
{
	@extend %title;
	@include rem-size(16px);
	margin-bottom:-.25em;

	@include mq(medium)
	{
		@include rem-size(18px);
	}
}

	.h1--notop, .h2--notop, .h3--notop, .h4--notop
	{
		margin-top:0;
	}

/*
 *
 * Titles used in wysiwyg content (namespaced)
 *
**/

.wysiwyg
{

	h2,h3,h4
	{
		margin:1em 0 .75em;
		padding:0;
		line-height:1.2;
		color:$color-main-dark1;
		font-family:$fontstack-alt;
		font-weight:600;
	}

	h2
	{
		@include rem-size(21px);

		@include mq(medium)
		{
			@include rem-size(24px);
		}
	}

	h3
	{
		@include rem-size(18px);

		@include mq(medium)
		{
			@include rem-size(21px);
		}
	}

	h4
	{
		@include rem-size(16px);

		@include mq(medium)
		{
			@include rem-size(18px);
		}
	}

	li
	{
		margin-bottom:.5em;

		&:last-child
		{
			margin-bottom:0;
		}
	}
}

/*
 *
 * Footer titles
 *
**/

.title-footer
{
	margin:0 0 1em 0;
	padding:0;
	@include rem-size(16px);
	font-weight:500;
	text-transform:uppercase;
	color:#fff;
}

/*------------------------------------*\
=links
\*------------------------------------*/
a
{
	color:$color-accent;
	text-decoration:none;

	&:hover
	{
		color:$color-accent-light;
		text-decoration:underline;
	}
}

/*
 *
 * links in titles
 *
**/

h1, h2, h3, h4, h5, h6
{
	a:hover
	{
		text-decoration:none;
	}
}

/*
 *
 * More links
 *
**/

.more:after
{
	content:"\00A0\2192";
}

/*
 *
 * Email link (footer)
 *
**/

.email-link
{
	color:$color-main-light1;
}


/*------------------------------------*\
=buttons
\*------------------------------------*/

.button
{
	display:inline-block;
	padding:.75em 2em;
	border-radius:.25em;
	border:2px solid $color-main-dark1;

	@include rem-size(14px);
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase;
	color:$color-main-dark1;

	transition:all .1s linear;

	&:hover
	{
		border-color:$color-accent;
		color:$color-accent;
		text-decoration:none;
	}
}

.buttoncontainer
{
	margin:0;
	padding:0;
}

/*------------------------------------*\
=texts
\*------------------------------------*/

.item-info
{
	margin:0 0 .25em 0;
	padding:0;
	@include rem-size(14px);
	color:$color-main-light1;
}

	.item-info--big
	{
		@include rem-size(16px);
		color:$color-accent;
	}

.intro
{
	@include rem-size(18px);
	line-height:1.4;
	color:$color-main;

	@include mq(medium)
	{
		@include rem-size(20px);
	}
}

.smalltext
{
	@include rem-size(14px);
	color:$color-main-light1;
}