// -------------------------------------
// Containers
// -------------------------------------

/**
 * Centered and have max-width + padding
*/

.l-container
{
  margin: 0 auto;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}
