---
layout: default
---

<main class="maincontent" role="main">

  <div class="grid  grid--center">
    <div class="grid__unit  medium-span-10of12  large-span-8of12">

      <article class="item  wysiwyg">

        <header class="item__header">
          <p class="item-info  item-info--big">{{ page.date|date: "%B %-d, %Y" }}</p>
          <h1 class="h1  h1--notop">{{ page.title }}</h1>
        </header>

        <div class="intro">
          <p>{{ page.excerpt }}</p>
        </div>

        {{ content }}

      </article>

    </div>
  </div>

</main>