<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Webstoemp</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.html_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.min.css?rev=2016121929">

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Webstoemp Blog">

    <!-- Picturefill -->
    <script>
      document.createElement( "picture" );
    </script>
    <script src="/js/vendors/picturefill.min.js" async></script>

    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'pkf2yjb',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55680384-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    <!-- all other scripts minified and concatenated -->
    <script src="/js/webstoemp.min.js?rev=2016121929"></script>

  </body>

</html>
