<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Webstoemp</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.html_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Picturefill -->
    <script src="/js/vendors/picturefill.min.js" async></script>

    <!-- Critical CSS -->
    <style>
      {% include critical.css %}
    </style>

    <!-- Load css -->
    <script>
    !function(e){"use strict";var n=function(n,t,o){var l,r=e.document,i=r.createElement("link");if(t)l=t;else{var a=(r.body||r.getElementsByTagName("head")[0]).childNodes;l=a[a.length-1]}var d=r.styleSheets;i.rel="stylesheet",i.href=n,i.media="only x",l.parentNode.insertBefore(i,t?l:l.nextSibling);var f=function(e){for(var n=i.href,t=d.length;t--;)if(d[t].href===n)return e();setTimeout(function(){f(e)})};return i.onloadcssdefined=f,f(function(){i.media=o||"all"}),i};"undefined"!=typeof module?module.exports=n:e.loadCSS=n}("undefined"!=typeof global?global:this);

    // load CSS async
    loadCSS( "/css/main.min.css" );
    </script>

    <!-- CSS Fallback -->
    <noscript><link rel="stylesheet" href="/css/main.min.css"></noscript>

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Webstoemp Blog">

    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'pkf2yjb',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55680384-1', 'auto');
        ga('send', 'pageview');
    </script>

  </head>
  <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    <!-- all other scripts minified and concatenated -->
    <script src="/js/webstoemp.min.js" async></script>

  </body>

</html>
