<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Webstoemp</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.html_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Picturefill -->
    <script src="/js/vendors/picturefill.min.js" async></script>

    <!-- Critical CSS -->
    <style>
      {% include critical.css %}
    </style>

    <!-- Load css -->
    <script>
    /*!
    loadCSS: load a CSS file asynchronously.
    [c]2015 @scottjehl, Filament Group, Inc.
    Licensed MIT
    */
    (function(w){
    	"use strict";
    	/* exported loadCSS */
    	var loadCSS = function( href, before, media ){
    		// Arguments explained:
    		// `href` [REQUIRED] is the URL for your CSS file.
    		// `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
    			// By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
    		// `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
    		var doc = w.document;
    		var ss = doc.createElement( "link" );
    		var ref;
    		if( before ){
    			ref = before;
    		}
    		else {
    			var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
    			ref = refs[ refs.length - 1];
    		}

    		var sheets = doc.styleSheets;
    		ss.rel = "stylesheet";
    		ss.href = href;
    		// temporarily set media to something inapplicable to ensure it'll fetch without blocking render
    		ss.media = "only x";

    		// Inject link
    			// Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
    			// Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
    		ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
    		// A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
    		var onloadcssdefined = function( cb ){
    			var resolvedHref = ss.href;
    			var i = sheets.length;
    			while( i-- ){
    				if( sheets[ i ].href === resolvedHref ){
    					return cb();
    				}
    			}
    			setTimeout(function() {
    				onloadcssdefined( cb );
    			});
    		};

    		// once loaded, set link's media back to `all` so that the stylesheet applies once it loads
    		ss.onloadcssdefined = onloadcssdefined;
    		onloadcssdefined(function() {
    			ss.media = media || "all";
    		});
    		return ss;
    	};
    	// commonjs
    	if( typeof module !== "undefined" ){
    		module.exports = loadCSS;
    	}
    	else {
    		w.loadCSS = loadCSS;
    	}
    }( typeof global !== "undefined" ? global : this ));

    // load CSS async
    loadCSS( "/css/main.min.css" );
    </script>

    <!-- CSS Fallback -->
    <noscript><link rel="stylesheet" href="/css/main.min.css"></noscript>

    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Webstoemp Blog">

    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'pkf2yjb',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55680384-1', 'auto');
        ga('send', 'pageview');
    </script>

  </head>
  <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    <!-- all other scripts minified and concatenated -->
    <script src="/js/webstoemp.min.js" async></script>

  </body>

</html>
