---
permalink: feed.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <language>en</language>
    <title>{{ site.title }} - Blogposts Feed</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <pubDate>{{ site.buildTime | date("ddd, D MMM YYYY HH:mm:ss ZZ") }}</pubDate>
    <lastBuildDate>{{ site.buildTime | date("ddd, D MMM YYYY HH:mm:ss ZZ") }}</lastBuildDate>
    <generator>Eleventy</generator>
    {% for post in collections.blogposts | reverse | limit(10) %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ site.url }}{{ post.url }}</link>
        <pubDate>{{ post.date | date("ddd, D MMM YYYY HH:mm:ss ZZ") }}</pubDate>
        <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
        <description><![CDATA[{{ post.data.excerpt }}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>
