// -------------------------------------
// Mdia queries
// -------------------------------------

$breakpoints-map: (
  small: "all and (min-width: 500px)",
  medium: "all and (min-width: 750px)",
  large: "all and (min-width: 1024px)",
  xlarge: "all and (min-width: 1140px)",
);
