// -------------------------------------
// Colors
// -------------------------------------

$color-brand1: #f5f0df;
$color-brand2: #eee0af;
$color-brand3: #f2d87f;
$color-brand4: #f2c700;
$color-brand5: #c7a21e;
$color-brand6: #82680c;

$color-gray1: #fafafa;
$color-gray2: #f3f3f2;
$color-gray3: #e7e7e6;
$color-gray4: #cfcfcd;
$color-gray5: #bfbfbd;
$color-gray6: #a9a8a4;
$color-gray7: #6d6d6d;
$color-gray8: #120e03;

$color-white: #ffffff;
$color-black: #000000;
