<div class="c-mobilemenu  js-mobilemenu">
  <p class="c-mobilemenu__actions"><button class="c-mobilemenu__close  js-navtrigger" href="#">{% include "svg/menu-close.svg" %}</button></p>
  <nav aria-label="mobile navigation">
    {% for item in nav %}
      {% if loop.first %}<ul class="c-mobilenav">{% endif %}
        <li class="c-mobilenav__item"><a class="c-mobilenav__link  {{ 'is-active' if activeSection == item.navTrigger }}" href="{{ item.navUrl }}">{{ item.navLabel }}</a></li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  </nav>
</div>
